DK/Development/Release 1.13.0/BizTalk/INTSTDK007.EtisRealTime/Files/WSDL/Service_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.etis.fskab.se/v1.0/ETISws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.etis.fskab.se/v1.0/ETISws" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>Sevices for building Journey Planner applications.&lt;br> Provides access to functionality and data from Elmer, RoadElmer and EU-Spirit search engines.&lt;br> Utility services for finding destination and arrival points as provided by Stop, Address and Poi serach engines.&lt;br>Real-time traffic information and fares are, where available, included in results.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.etis.fskab.se/v1.0/ETISws">
      <s:element name="GetStartEndPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromPoint" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToPoint" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ViaPoint" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FromPointType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToPointType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FromRegion" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToRegion" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Accessibility" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MaxResultCount" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStartEndPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStartEndPointResult" type="tns:GetStartEndPointResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetStartEndPointResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="StartPoints" type="tns:StartPoints"/>
          <s:element minOccurs="0" maxOccurs="1" name="EndPoints" type="tns:EndPoints"/>
          <s:element minOccurs="0" maxOccurs="1" name="ViaPoints" type="tns:ViaPoints"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="StartPoints">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Point" type="tns:Point"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Point">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="tns:PointType"/>
          <s:element minOccurs="0" maxOccurs="1" name="X" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Y" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="EUSpiritKey" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PointType">
        <s:restriction base="s:string">
          <s:enumeration value="STOP_AREA"/>
          <s:enumeration value="ADDRESS"/>
          <s:enumeration value="POI"/>
          <s:enumeration value="UNKNOWN"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="EndPoints">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Point" type="tns:Point"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ViaPoints">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Point" type="tns:Point"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetJourneyMed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromPointLat" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FromPointLong" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToPointLat" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToPointLong" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="JourneyDateTime" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SearchDirection" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="NoOfJourneys" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="WalkSpeed" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SelectedMeansOfTransport" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SelectionType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="VehicleAccessibility" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MaxWalkDistance" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Obstacles" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Accessibility" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJourneyMedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJourneyResult" type="tns:GetJourneyResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetJourneyResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="JourneyResultKey" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Journeys" type="tns:Journeys"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Journeys">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Journey" type="tns:Journey"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Journey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SequenceNo" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="DepDateTime" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="ArrDateTime" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="DepWalkDist" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="ArrWalkDist" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="NoOfChanges" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Guaranteed" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="CO2factor" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="NoOfZones" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="PriceZoneList" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="FareType" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Prices" type="tns:Prices"/>
          <s:element minOccurs="0" maxOccurs="1" name="JourneyKey" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="RouteLinks" type="tns:RouteLinks"/>
          <s:element minOccurs="0" maxOccurs="1" name="Distance" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="CO2value" type="s:float"/>
          <s:element minOccurs="0" maxOccurs="1" name="Recalculated" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="OriginalTime" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SalesRestriction" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PriceZoneNamesList" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="StartEndBigZoneList" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Prices">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PriceInfo" type="tns:PriceInfo"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PriceType" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Price" type="s:float"/>
          <s:element minOccurs="0" maxOccurs="1" name="VAT" type="s:float"/>
          <s:element minOccurs="0" maxOccurs="1" name="JourneyTicketKey" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Counties" type="tns:Counties"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Counties">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CountyInfo" type="tns:CountyInfo"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="CountyInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountyCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Price" type="s:float"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="RouteLinks">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RouteLink" type="tns:RouteLink"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="RouteLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RouteLinkKey" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DepDateTime" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="DepIsTimingPoint" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="ArrDateTime" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="ArrIsTimingPoint" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="CallTrip" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="PriceZones" type="tns:PriceZones"/>
          <s:element minOccurs="0" maxOccurs="1" name="RealTime" type="tns:RealTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="From" type="tns:From"/>
          <s:element minOccurs="0" maxOccurs="1" name="To" type="tns:To"/>
          <s:element minOccurs="0" maxOccurs="1" name="Line" type="tns:Line"/>
          <s:element minOccurs="0" maxOccurs="1" name="Deviations" type="tns:Deviations"/>
          <s:element minOccurs="0" maxOccurs="1" name="Accessibility" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceZones">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PriceZone" type="tns:PriceZone"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceZone">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="RealTime">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RealTimeInfo" type="tns:RealTimeInfo"/>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RealTimeRoadInfo" type="tns:RealTimeRoadInfo"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="RealTimeInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NewDepPoint" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="NewArrPoint" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DepTimeDeviation" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="DepDeviationAffect" type="tns:RealTimeAffect"/>
          <s:element minOccurs="0" maxOccurs="1" name="ArrTimeDeviation" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="ArrDeviationAffect" type="tns:RealTimeAffect"/>
          <s:element minOccurs="0" maxOccurs="1" name="Canceled" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RealTimeAffect">
        <s:restriction base="s:string">
          <s:enumeration value="CRITICAL"/>
          <s:enumeration value="NON_CRITICAL"/>
          <s:enumeration value="PASSED"/>
          <s:enumeration value="NONE"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="RealTimeRoadInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Road" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Reason" type="tns:RoadInfoType"/>
          <s:element minOccurs="0" maxOccurs="1" name="Info" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RoadInfoType">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN"/>
          <s:enumeration value="WEATHER"/>
          <s:enumeration value="ROAD_ACCIDENT"/>
          <s:enumeration value="ROAD_WORK"/>
          <s:enumeration value="ROAD_CONDITION"/>
          <s:enumeration value="EVENT"/>
          <s:enumeration value="HOLIDAY"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="From">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="StopPoint" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="To">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="StopPoint" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Line">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="No" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="RunNo" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="LineTypeId" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="LineTypeName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="TransportModeId" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="TransportModeName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="TrainNo" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Towards" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="OperatorId" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="OperatorName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="FootNotes" type="tns:FootNotes"/>
          <s:element minOccurs="0" maxOccurs="1" name="PointsOnRouteLink" type="tns:PointsOnRouteLink"/>
          <s:element minOccurs="0" maxOccurs="1" name="Provider" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="FootNotes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FootNote" type="tns:FootNote"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="FootNote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Index" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PointsOnRouteLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PointOnRouteLink" type="tns:PointOnRouteLink"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PointOnRouteLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="StopPoint" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ArrDateTime" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="ArrIsTimingPoint" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="Distance" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Deviations">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Deviation" type="tns:Deviation"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Deviation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeviationScopes" type="tns:DeviationScopes"/>
          <s:element minOccurs="0" maxOccurs="1" name="PublicNote" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Header" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Details" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Summary" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ShortText" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Importance" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Influence" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Urgency" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="WebLinks" type="tns:WebLinks"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeviationScopes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeviationScope" type="tns:DeviationScope"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeviationScope">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ScopeAttribute" type="tns:ScopeAttributeType"/>
          <s:element minOccurs="0" maxOccurs="1" name="FromDateTime" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="ToDateTime" type="s:dateTime"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ScopeAttributeType">
        <s:restriction base="s:string">
          <s:enumeration value="CONCERNS_DEPARTURE"/>
          <s:enumeration value="CONCERNS_ARRIVAL"/>
          <s:enumeration value="CONCERNS_LINE"/>
          <s:enumeration value="CONCERNS_DEPARR"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="WebLinks">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WebLink" type="tns:WebLink"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="WebLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetJourneyMulti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromPointLat" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FromPointLong" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToPointLat" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToPointLong" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="JourneyDateTime" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FromStopAreasCollection" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToStopAreasCollection" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ExtraTimesCollection" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SearchDirection" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="NoOfJourneys" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="WalkSpeed" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SelectedMeansOfTransport" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SelectionType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="VehicleAccessibility" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MaxWalkDistance" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Obstacles" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Accessibility" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJourneyMultiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJourneyResult" type="tns:GetJourneyResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJourney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromPointId" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FromPointType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToPointId" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToPointType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ViaPointId" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="WaitingTime" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="JourneyDateTime" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Direction" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="NoOfJourneysBefore" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="NoOfJourneysAfter" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeTime" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SelectedMeansOfTransport" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SelectionType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Accessibility" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MaxWalkDistance" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DetailedResult" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="WalkSpeed" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="VehicleAccessibility" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJourneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJourneyResult" type="tns:GetJourneyResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCachedJourney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JourneyResultKey" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCachedJourneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJourneyResult" type="tns:GetJourneyResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOriginJourney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JourneyResultKey" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SequenceNo" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOriginJourneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJourneyResult" type="tns:GetJourneyResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMeansOfTransport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EUSpirit" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMeansOfTransportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMeansOfTransportResult" type="tns:GetMeansOfTransportResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetMeansOfTransportResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="TransportModes" type="tns:TransportModes"/>
          <s:element minOccurs="0" maxOccurs="1" name="LineTypes" type="tns:LineTypes"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransportModes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransportMode" type="tns:TransportMode"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransportMode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DefaultChecked" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineTypes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineType" type="tns:LineType"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DefaultChecked" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetVersionInfo">
        <s:complexType/>
      </s:element>
      <s:element name="GetVersionInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionInfoResult" type="tns:GetVersionInfoResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetVersionInfoResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DatabaseValidFromDate" type="s:date"/>
          <s:element minOccurs="0" maxOccurs="1" name="DatabaseValidToDate" type="s:date"/>
          <s:element minOccurs="0" maxOccurs="1" name="ETISversion" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetJourneyPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JourneyResultKey" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="seq" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJourneyPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJourneyPathResult" type="tns:GetJourneyPathResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetJourneyPathResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ResultXML" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetJourneyWidget">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromPointId" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="FromPointType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToPointId" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ToPointType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SelectedMeansOfTransport" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SelectionType" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJourneyWidgetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJourneyWidgetResult" type="tns:GetJourneyWidgetResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetJourneyWidgetResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ServerDateTime" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="PreviousDepDateTime" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="DepDateTime" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="NextDepDateTime" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="DepRealTime" type="tns:DepRealTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="DepDeviations" type="tns:DepDeviations"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="DepRealTime">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NewDepPoint" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DepTimeDeviation" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="DepDeviationAffect" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Canceled" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="Recalculated" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="DepDeviations">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Header" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ShortText" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetStartEndPointResult" type="tns:GetStartEndPointResult"/>
      <s:element name="GetJourneyResult" type="tns:GetJourneyResult"/>
      <s:element name="GetMeansOfTransportResult" type="tns:GetMeansOfTransportResult"/>
      <s:element name="GetVersionInfoResult" type="tns:GetVersionInfoResult"/>
      <s:element name="GetJourneyPathResult" type="tns:GetJourneyPathResult"/>
      <s:element name="GetJourneyWidgetResult" type="tns:GetJourneyWidgetResult"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStartEndPointSoapIn">
    <wsdl:part name="parameters" element="tns:GetStartEndPoint"/>
  </wsdl:message>
  <wsdl:message name="GetStartEndPointSoapOut">
    <wsdl:part name="parameters" element="tns:GetStartEndPointResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyMedSoapIn">
    <wsdl:part name="parameters" element="tns:GetJourneyMed"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyMedSoapOut">
    <wsdl:part name="parameters" element="tns:GetJourneyMedResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyMultiSoapIn">
    <wsdl:part name="parameters" element="tns:GetJourneyMulti"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyMultiSoapOut">
    <wsdl:part name="parameters" element="tns:GetJourneyMultiResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJourneySoapIn">
    <wsdl:part name="parameters" element="tns:GetJourney"/>
  </wsdl:message>
  <wsdl:message name="GetJourneySoapOut">
    <wsdl:part name="parameters" element="tns:GetJourneyResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCachedJourneySoapIn">
    <wsdl:part name="parameters" element="tns:GetCachedJourney"/>
  </wsdl:message>
  <wsdl:message name="GetCachedJourneySoapOut">
    <wsdl:part name="parameters" element="tns:GetCachedJourneyResponse"/>
  </wsdl:message>
  <wsdl:message name="GetOriginJourneySoapIn">
    <wsdl:part name="parameters" element="tns:GetOriginJourney"/>
  </wsdl:message>
  <wsdl:message name="GetOriginJourneySoapOut">
    <wsdl:part name="parameters" element="tns:GetOriginJourneyResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMeansOfTransportSoapIn">
    <wsdl:part name="parameters" element="tns:GetMeansOfTransport"/>
  </wsdl:message>
  <wsdl:message name="GetMeansOfTransportSoapOut">
    <wsdl:part name="parameters" element="tns:GetMeansOfTransportResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVersionInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersionInfo"/>
  </wsdl:message>
  <wsdl:message name="GetVersionInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyPathSoapIn">
    <wsdl:part name="parameters" element="tns:GetJourneyPath"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyPathSoapOut">
    <wsdl:part name="parameters" element="tns:GetJourneyPathResponse"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyWidgetSoapIn">
    <wsdl:part name="parameters" element="tns:GetJourneyWidget"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyWidgetSoapOut">
    <wsdl:part name="parameters" element="tns:GetJourneyWidgetResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStartEndPointHttpGetIn">
    <wsdl:part name="FromPoint" type="s:string"/>
    <wsdl:part name="ToPoint" type="s:string"/>
    <wsdl:part name="ViaPoint" type="s:string"/>
    <wsdl:part name="FromPointType" type="s:string"/>
    <wsdl:part name="ToPointType" type="s:string"/>
    <wsdl:part name="FromRegion" type="s:string"/>
    <wsdl:part name="ToRegion" type="s:string"/>
    <wsdl:part name="Accessibility" type="s:string"/>
    <wsdl:part name="MaxResultCount" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStartEndPointHttpGetOut">
    <wsdl:part name="Body" element="tns:GetStartEndPointResult"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyMedHttpGetIn">
    <wsdl:part name="FromPointLat" type="s:string"/>
    <wsdl:part name="FromPointLong" type="s:string"/>
    <wsdl:part name="ToPointLat" type="s:string"/>
    <wsdl:part name="ToPointLong" type="s:string"/>
    <wsdl:part name="JourneyDateTime" type="s:string"/>
    <wsdl:part name="SearchDirection" type="s:string"/>
    <wsdl:part name="NoOfJourneys" type="s:string"/>
    <wsdl:part name="WalkSpeed" type="s:string"/>
    <wsdl:part name="SelectedMeansOfTransport" type="s:string"/>
    <wsdl:part name="SelectionType" type="s:string"/>
    <wsdl:part name="VehicleAccessibility" type="s:string"/>
    <wsdl:part name="MaxWalkDistance" type="s:string"/>
    <wsdl:part name="Priority" type="s:string"/>
    <wsdl:part name="Obstacles" type="s:string"/>
    <wsdl:part name="Accessibility" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyMedHttpGetOut">
    <wsdl:part name="Body" element="tns:GetJourneyResult"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyMultiHttpGetIn">
    <wsdl:part name="FromPointLat" type="s:string"/>
    <wsdl:part name="FromPointLong" type="s:string"/>
    <wsdl:part name="ToPointLat" type="s:string"/>
    <wsdl:part name="ToPointLong" type="s:string"/>
    <wsdl:part name="JourneyDateTime" type="s:string"/>
    <wsdl:part name="FromStopAreasCollection" type="s:string"/>
    <wsdl:part name="ToStopAreasCollection" type="s:string"/>
    <wsdl:part name="ExtraTimesCollection" type="s:string"/>
    <wsdl:part name="SearchDirection" type="s:string"/>
    <wsdl:part name="NoOfJourneys" type="s:string"/>
    <wsdl:part name="WalkSpeed" type="s:string"/>
    <wsdl:part name="SelectedMeansOfTransport" type="s:string"/>
    <wsdl:part name="SelectionType" type="s:string"/>
    <wsdl:part name="VehicleAccessibility" type="s:string"/>
    <wsdl:part name="MaxWalkDistance" type="s:string"/>
    <wsdl:part name="Priority" type="s:string"/>
    <wsdl:part name="Obstacles" type="s:string"/>
    <wsdl:part name="Accessibility" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyMultiHttpGetOut">
    <wsdl:part name="Body" element="tns:GetJourneyResult"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyHttpGetIn">
    <wsdl:part name="FromPointId" type="s:string"/>
    <wsdl:part name="FromPointType" type="s:string"/>
    <wsdl:part name="ToPointId" type="s:string"/>
    <wsdl:part name="ToPointType" type="s:string"/>
    <wsdl:part name="ViaPointId" type="s:string"/>
    <wsdl:part name="WaitingTime" type="s:string"/>
    <wsdl:part name="JourneyDateTime" type="s:string"/>
    <wsdl:part name="Direction" type="s:string"/>
    <wsdl:part name="NoOfJourneysBefore" type="s:string"/>
    <wsdl:part name="NoOfJourneysAfter" type="s:string"/>
    <wsdl:part name="ChangeTime" type="s:string"/>
    <wsdl:part name="Priority" type="s:string"/>
    <wsdl:part name="SelectedMeansOfTransport" type="s:string"/>
    <wsdl:part name="SelectionType" type="s:string"/>
    <wsdl:part name="Accessibility" type="s:string"/>
    <wsdl:part name="MaxWalkDistance" type="s:string"/>
    <wsdl:part name="DetailedResult" type="s:string"/>
    <wsdl:part name="WalkSpeed" type="s:string"/>
    <wsdl:part name="VehicleAccessibility" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyHttpGetOut">
    <wsdl:part name="Body" element="tns:GetJourneyResult"/>
  </wsdl:message>
  <wsdl:message name="GetCachedJourneyHttpGetIn">
    <wsdl:part name="JourneyResultKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCachedJourneyHttpGetOut">
    <wsdl:part name="Body" element="tns:GetJourneyResult"/>
  </wsdl:message>
  <wsdl:message name="GetOriginJourneyHttpGetIn">
    <wsdl:part name="JourneyResultKey" type="s:string"/>
    <wsdl:part name="SequenceNo" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetOriginJourneyHttpGetOut">
    <wsdl:part name="Body" element="tns:GetJourneyResult"/>
  </wsdl:message>
  <wsdl:message name="GetMeansOfTransportHttpGetIn">
    <wsdl:part name="EUSpirit" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMeansOfTransportHttpGetOut">
    <wsdl:part name="Body" element="tns:GetMeansOfTransportResult"/>
  </wsdl:message>
  <wsdl:message name="GetVersionInfoHttpGetIn"/>
  <wsdl:message name="GetVersionInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:GetVersionInfoResult"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyPathHttpGetIn">
    <wsdl:part name="JourneyResultKey" type="s:string"/>
    <wsdl:part name="seq" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyPathHttpGetOut">
    <wsdl:part name="Body" element="tns:GetJourneyPathResult"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyWidgetHttpGetIn">
    <wsdl:part name="FromPointId" type="s:string"/>
    <wsdl:part name="FromPointType" type="s:string"/>
    <wsdl:part name="ToPointId" type="s:string"/>
    <wsdl:part name="ToPointType" type="s:string"/>
    <wsdl:part name="SelectedMeansOfTransport" type="s:string"/>
    <wsdl:part name="SelectionType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyWidgetHttpGetOut">
    <wsdl:part name="Body" element="tns:GetJourneyWidgetResult"/>
  </wsdl:message>
  <wsdl:message name="GetStartEndPointHttpPostIn">
    <wsdl:part name="FromPoint" type="s:string"/>
    <wsdl:part name="ToPoint" type="s:string"/>
    <wsdl:part name="ViaPoint" type="s:string"/>
    <wsdl:part name="FromPointType" type="s:string"/>
    <wsdl:part name="ToPointType" type="s:string"/>
    <wsdl:part name="FromRegion" type="s:string"/>
    <wsdl:part name="ToRegion" type="s:string"/>
    <wsdl:part name="Accessibility" type="s:string"/>
    <wsdl:part name="MaxResultCount" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetStartEndPointHttpPostOut">
    <wsdl:part name="Body" element="tns:GetStartEndPointResult"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyMedHttpPostIn">
    <wsdl:part name="FromPointLat" type="s:string"/>
    <wsdl:part name="FromPointLong" type="s:string"/>
    <wsdl:part name="ToPointLat" type="s:string"/>
    <wsdl:part name="ToPointLong" type="s:string"/>
    <wsdl:part name="JourneyDateTime" type="s:string"/>
    <wsdl:part name="SearchDirection" type="s:string"/>
    <wsdl:part name="NoOfJourneys" type="s:string"/>
    <wsdl:part name="WalkSpeed" type="s:string"/>
    <wsdl:part name="SelectedMeansOfTransport" type="s:string"/>
    <wsdl:part name="SelectionType" type="s:string"/>
    <wsdl:part name="VehicleAccessibility" type="s:string"/>
    <wsdl:part name="MaxWalkDistance" type="s:string"/>
    <wsdl:part name="Priority" type="s:string"/>
    <wsdl:part name="Obstacles" type="s:string"/>
    <wsdl:part name="Accessibility" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyMedHttpPostOut">
    <wsdl:part name="Body" element="tns:GetJourneyResult"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyMultiHttpPostIn">
    <wsdl:part name="FromPointLat" type="s:string"/>
    <wsdl:part name="FromPointLong" type="s:string"/>
    <wsdl:part name="ToPointLat" type="s:string"/>
    <wsdl:part name="ToPointLong" type="s:string"/>
    <wsdl:part name="JourneyDateTime" type="s:string"/>
    <wsdl:part name="FromStopAreasCollection" type="s:string"/>
    <wsdl:part name="ToStopAreasCollection" type="s:string"/>
    <wsdl:part name="ExtraTimesCollection" type="s:string"/>
    <wsdl:part name="SearchDirection" type="s:string"/>
    <wsdl:part name="NoOfJourneys" type="s:string"/>
    <wsdl:part name="WalkSpeed" type="s:string"/>
    <wsdl:part name="SelectedMeansOfTransport" type="s:string"/>
    <wsdl:part name="SelectionType" type="s:string"/>
    <wsdl:part name="VehicleAccessibility" type="s:string"/>
    <wsdl:part name="MaxWalkDistance" type="s:string"/>
    <wsdl:part name="Priority" type="s:string"/>
    <wsdl:part name="Obstacles" type="s:string"/>
    <wsdl:part name="Accessibility" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyMultiHttpPostOut">
    <wsdl:part name="Body" element="tns:GetJourneyResult"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyHttpPostIn">
    <wsdl:part name="FromPointId" type="s:string"/>
    <wsdl:part name="FromPointType" type="s:string"/>
    <wsdl:part name="ToPointId" type="s:string"/>
    <wsdl:part name="ToPointType" type="s:string"/>
    <wsdl:part name="ViaPointId" type="s:string"/>
    <wsdl:part name="WaitingTime" type="s:string"/>
    <wsdl:part name="JourneyDateTime" type="s:string"/>
    <wsdl:part name="Direction" type="s:string"/>
    <wsdl:part name="NoOfJourneysBefore" type="s:string"/>
    <wsdl:part name="NoOfJourneysAfter" type="s:string"/>
    <wsdl:part name="ChangeTime" type="s:string"/>
    <wsdl:part name="Priority" type="s:string"/>
    <wsdl:part name="SelectedMeansOfTransport" type="s:string"/>
    <wsdl:part name="SelectionType" type="s:string"/>
    <wsdl:part name="Accessibility" type="s:string"/>
    <wsdl:part name="MaxWalkDistance" type="s:string"/>
    <wsdl:part name="DetailedResult" type="s:string"/>
    <wsdl:part name="WalkSpeed" type="s:string"/>
    <wsdl:part name="VehicleAccessibility" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyHttpPostOut">
    <wsdl:part name="Body" element="tns:GetJourneyResult"/>
  </wsdl:message>
  <wsdl:message name="GetCachedJourneyHttpPostIn">
    <wsdl:part name="JourneyResultKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetCachedJourneyHttpPostOut">
    <wsdl:part name="Body" element="tns:GetJourneyResult"/>
  </wsdl:message>
  <wsdl:message name="GetOriginJourneyHttpPostIn">
    <wsdl:part name="JourneyResultKey" type="s:string"/>
    <wsdl:part name="SequenceNo" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetOriginJourneyHttpPostOut">
    <wsdl:part name="Body" element="tns:GetJourneyResult"/>
  </wsdl:message>
  <wsdl:message name="GetMeansOfTransportHttpPostIn">
    <wsdl:part name="EUSpirit" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetMeansOfTransportHttpPostOut">
    <wsdl:part name="Body" element="tns:GetMeansOfTransportResult"/>
  </wsdl:message>
  <wsdl:message name="GetVersionInfoHttpPostIn"/>
  <wsdl:message name="GetVersionInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:GetVersionInfoResult"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyPathHttpPostIn">
    <wsdl:part name="JourneyResultKey" type="s:string"/>
    <wsdl:part name="seq" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyPathHttpPostOut">
    <wsdl:part name="Body" element="tns:GetJourneyPathResult"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyWidgetHttpPostIn">
    <wsdl:part name="FromPointId" type="s:string"/>
    <wsdl:part name="FromPointType" type="s:string"/>
    <wsdl:part name="ToPointId" type="s:string"/>
    <wsdl:part name="ToPointType" type="s:string"/>
    <wsdl:part name="SelectedMeansOfTransport" type="s:string"/>
    <wsdl:part name="SelectionType" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetJourneyWidgetHttpPostOut">
    <wsdl:part name="Body" element="tns:GetJourneyWidgetResult"/>
  </wsdl:message>
  <wsdl:portType name="ETIS_x0020_JourneyServiceSoap">
    <wsdl:operation name="GetStartEndPoint">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetStartEndPoint.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetStartEndPointSoapIn"/>
      <wsdl:output message="tns:GetStartEndPointSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMed">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourneyMed.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyMedSoapIn"/>
      <wsdl:output message="tns:GetJourneyMedSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMulti">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourneyMulti.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyMultiSoapIn"/>
      <wsdl:output message="tns:GetJourneyMultiSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourney">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourney.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneySoapIn"/>
      <wsdl:output message="tns:GetJourneySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCachedJourney">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetCachedJourney.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetCachedJourneySoapIn"/>
      <wsdl:output message="tns:GetCachedJourneySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetOriginJourney">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetCachedJourney.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetOriginJourneySoapIn"/>
      <wsdl:output message="tns:GetOriginJourneySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetMeansOfTransport">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetMeansOfTransport.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetMeansOfTransportSoapIn"/>
      <wsdl:output message="tns:GetMeansOfTransportSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetVersionInfo">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetVersionInfo.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetVersionInfoSoapIn"/>
      <wsdl:output message="tns:GetVersionInfoSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyPath">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourneyPath.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyPathSoapIn"/>
      <wsdl:output message="tns:GetJourneyPathSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyWidget">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourneyWidget.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyWidgetSoapIn"/>
      <wsdl:output message="tns:GetJourneyWidgetSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ETIS_x0020_JourneyServiceHttpGet">
    <wsdl:operation name="GetStartEndPoint">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetStartEndPoint.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetStartEndPointHttpGetIn"/>
      <wsdl:output message="tns:GetStartEndPointHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMed">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourneyMed.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyMedHttpGetIn"/>
      <wsdl:output message="tns:GetJourneyMedHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMulti">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourneyMulti.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyMultiHttpGetIn"/>
      <wsdl:output message="tns:GetJourneyMultiHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourney">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourney.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyHttpGetIn"/>
      <wsdl:output message="tns:GetJourneyHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCachedJourney">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetCachedJourney.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetCachedJourneyHttpGetIn"/>
      <wsdl:output message="tns:GetCachedJourneyHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetOriginJourney">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetCachedJourney.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetOriginJourneyHttpGetIn"/>
      <wsdl:output message="tns:GetOriginJourneyHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetMeansOfTransport">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetMeansOfTransport.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetMeansOfTransportHttpGetIn"/>
      <wsdl:output message="tns:GetMeansOfTransportHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetVersionInfo">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetVersionInfo.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetVersionInfoHttpGetIn"/>
      <wsdl:output message="tns:GetVersionInfoHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyPath">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourneyPath.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyPathHttpGetIn"/>
      <wsdl:output message="tns:GetJourneyPathHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyWidget">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourneyWidget.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyWidgetHttpGetIn"/>
      <wsdl:output message="tns:GetJourneyWidgetHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ETIS_x0020_JourneyServiceHttpPost">
    <wsdl:operation name="GetStartEndPoint">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetStartEndPoint.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetStartEndPointHttpPostIn"/>
      <wsdl:output message="tns:GetStartEndPointHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMed">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourneyMed.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyMedHttpPostIn"/>
      <wsdl:output message="tns:GetJourneyMedHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMulti">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourneyMulti.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyMultiHttpPostIn"/>
      <wsdl:output message="tns:GetJourneyMultiHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourney">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourney.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyHttpPostIn"/>
      <wsdl:output message="tns:GetJourneyHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCachedJourney">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetCachedJourney.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetCachedJourneyHttpPostIn"/>
      <wsdl:output message="tns:GetCachedJourneyHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetOriginJourney">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetCachedJourney.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetOriginJourneyHttpPostIn"/>
      <wsdl:output message="tns:GetOriginJourneyHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetMeansOfTransport">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetMeansOfTransport.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetMeansOfTransportHttpPostIn"/>
      <wsdl:output message="tns:GetMeansOfTransportHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetVersionInfo">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetVersionInfo.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetVersionInfoHttpPostIn"/>
      <wsdl:output message="tns:GetVersionInfoHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyPath">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourneyPath.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyPathHttpPostIn"/>
      <wsdl:output message="tns:GetJourneyPathHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyWidget">
      <wsdl:documentation>For details about data structures in request and response messages please review &lt;a href='Contract/GetJourneyWidget.xsd' target='_new'>XML Schema&lt;/a> for this operation.</wsdl:documentation>
      <wsdl:input message="tns:GetJourneyWidgetHttpPostIn"/>
      <wsdl:output message="tns:GetJourneyWidgetHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ETIS_x0020_JourneyServiceSoap" type="tns:ETIS_x0020_JourneyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetStartEndPoint">
      <soap:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetStartEndPoint" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMed">
      <soap:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetJourneyMed" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMulti">
      <soap:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetJourneyMulti" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourney">
      <soap:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetJourney" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCachedJourney">
      <soap:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetCachedJourney" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOriginJourney">
      <soap:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetOriginJourney" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeansOfTransport">
      <soap:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetMeansOfTransport" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionInfo">
      <soap:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetVersionInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyPath">
      <soap:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetJourneyPath" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyWidget">
      <soap:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetJourneyWidget" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ETIS_x0020_JourneyServiceSoap12" type="tns:ETIS_x0020_JourneyServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetStartEndPoint">
      <soap12:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetStartEndPoint" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMed">
      <soap12:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetJourneyMed" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMulti">
      <soap12:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetJourneyMulti" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourney">
      <soap12:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetJourney" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCachedJourney">
      <soap12:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetCachedJourney" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOriginJourney">
      <soap12:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetOriginJourney" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeansOfTransport">
      <soap12:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetMeansOfTransport" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionInfo">
      <soap12:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetVersionInfo" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyPath">
      <soap12:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetJourneyPath" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyWidget">
      <soap12:operation soapAction="http://www.etis.fskab.se/v1.0/ETISws/GetJourneyWidget" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ETIS_x0020_JourneyServiceHttpGet" type="tns:ETIS_x0020_JourneyServiceHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="GetStartEndPoint">
      <http:operation location="/GetStartEndPoint"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMed">
      <http:operation location="/GetJourneyMed"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMulti">
      <http:operation location="/GetJourneyMulti"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourney">
      <http:operation location="/GetJourney"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCachedJourney">
      <http:operation location="/GetCachedJourney"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOriginJourney">
      <http:operation location="/GetOriginJourney"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeansOfTransport">
      <http:operation location="/GetMeansOfTransport"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionInfo">
      <http:operation location="/GetVersionInfo"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyPath">
      <http:operation location="/GetJourneyPath"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyWidget">
      <http:operation location="/GetJourneyWidget"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ETIS_x0020_JourneyServiceHttpPost" type="tns:ETIS_x0020_JourneyServiceHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="GetStartEndPoint">
      <http:operation location="/GetStartEndPoint"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMed">
      <http:operation location="/GetJourneyMed"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyMulti">
      <http:operation location="/GetJourneyMulti"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourney">
      <http:operation location="/GetJourney"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCachedJourney">
      <http:operation location="/GetCachedJourney"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOriginJourney">
      <http:operation location="/GetOriginJourney"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeansOfTransport">
      <http:operation location="/GetMeansOfTransport"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionInfo">
      <http:operation location="/GetVersionInfo"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyPath">
      <http:operation location="/GetJourneyPath"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJourneyWidget">
      <http:operation location="/GetJourneyWidget"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ETIS_x0020_JourneyService">
    <wsdl:documentation>Sevices for building Journey Planner applications.&lt;br> Provides access to functionality and data from Elmer, RoadElmer and EU-Spirit search engines.&lt;br> Utility services for finding destination and arrival points as provided by Stop, Address and Poi serach engines.&lt;br>Real-time traffic information and fares are, where available, included in results.</wsdl:documentation>
    <wsdl:port name="ETIS_x0020_JourneyServiceSoap" binding="tns:ETIS_x0020_JourneyServiceSoap">
      <soap:address location="http://www.test.etis.skanetrafiken.se/Journey/Service.asmx"/>
    </wsdl:port>
    <wsdl:port name="ETIS_x0020_JourneyServiceSoap12" binding="tns:ETIS_x0020_JourneyServiceSoap12">
      <soap12:address location="http://www.test.etis.skanetrafiken.se/Journey/Service.asmx"/>
    </wsdl:port>
    <wsdl:port name="ETIS_x0020_JourneyServiceHttpGet" binding="tns:ETIS_x0020_JourneyServiceHttpGet">
      <http:address location="http://www.test.etis.skanetrafiken.se/Journey/Service.asmx"/>
    </wsdl:port>
    <wsdl:port name="ETIS_x0020_JourneyServiceHttpPost" binding="tns:ETIS_x0020_JourneyServiceHttpPost">
      <http:address location="http://www.test.etis.skanetrafiken.se/Journey/Service.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>