DK/Development/Mitt Konto 1.0/BizTalk/INTSTDK004.BiffRealTime/INTSTDK004.Biff.Schemas/External/CardTransactions.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema targetNamespace="http://Biff.com/CardTransactions.xsd" xmlns:mstns="http://cubic.com" xmlns="http://Biff.com/CardTransactions.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" attributeFormDefault="qualified" elementFormDefault="qualified" xmlns:app3="http://Biff.com/CardTransactions.xsd" xmlns:app2="urn:schemas-microsoft-com:xml-diffgram-v1" xmlns:app1="urn:schemas-microsoft-com:xml-msdata">
  <xs:import namespace="urn:schemas-microsoft-com:xml-msdata" schemaLocation="Diffgram_CardTransactions_RowOrder.xsd" />
  <xs:import namespace="urn:schemas-microsoft-com:xml-diffgram-v1" schemaLocation="Diffgram_CardTransactions.xsd" />
  <xs:import namespace="http://cubic.com" schemaLocation="GetCardTransactionsResponse.xsd" />
  <xs:element name="CardTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Transactions" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Date" type="xs:string" minOccurs="0" app1:Ordinal="0" />
              <xs:element name="DeviceID" type="xs:string" minOccurs="0" app1:Ordinal="1" />
              <xs:element name="TxnNum" type="xs:string" minOccurs="0" app1:Ordinal="2" />
              <xs:element name="CardSect" type="xs:string" minOccurs="0" app1:Ordinal="3" />
              <xs:element name="RecType" type="xs:string" minOccurs="0" app1:Ordinal="4" />
              <xs:element name="TxnType" type="xs:string" minOccurs="0" app1:Ordinal="5" />
              <xs:element name="Route" type="xs:string" minOccurs="0" app1:Ordinal="6" />
              <xs:element name="Currency" type="xs:string" minOccurs="0" app1:Ordinal="7" />
              <xs:element name="Balance" type="xs:string" minOccurs="0" app1:Ordinal="8" />
              <xs:element name="Amount" type="xs:string" minOccurs="0" app1:Ordinal="9" />
              <xs:element name="OrigZone" type="xs:string" minOccurs="0" app1:Ordinal="10" />
            </xs:sequence>
            <xs:attribute ref="app2:id" />
            <xs:attribute ref="app1:rowOrder" />
          </xs:complexType>
        </xs:element>
        <xs:element name="CardDetails" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CardSerialNumber" type="xs:string" minOccurs="0" app1:Ordinal="0" />
              <xs:element name="NumTxnsAvailable" type="xs:string" minOccurs="0" app1:Ordinal="1" />
            </xs:sequence>
            <xs:attribute ref="app2:id" />
            <xs:attribute ref="app1:rowOrder" />
          </xs:complexType>
        </xs:element>
        <xs:element name="ZoneList" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ZoneListID" type="xs:string" minOccurs="0" app1:Ordinal="0" />
              <xs:element name="Zone" type="xs:string" minOccurs="0" app1:Ordinal="1" />
            </xs:sequence>
            <xs:attribute ref="app2:id" />
            <xs:attribute ref="app1:rowOrder" />
          </xs:complexType>
        </xs:element>
        <xs:element name="RouteList" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RouteListID" type="xs:string" minOccurs="0" app1:Ordinal="0" />
              <xs:element name="Route" type="xs:string" minOccurs="0" app1:Ordinal="1" />
              <xs:element name="FromZone" type="xs:string" minOccurs="0" app1:Ordinal="2" />
              <xs:element name="ToZone" type="xs:string" minOccurs="0" app1:Ordinal="3" />
            </xs:sequence>
            <xs:attribute ref="app2:id" />
            <xs:attribute ref="app1:rowOrder" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>