DK/Development/Hotfix 1.3.2/WebResources/Silverlight/CRM.GetOrders/CRM.GetOrders/Service References/GetOrdersServiceReference/GetOrdersService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://v-dkcrm-utv:4500/CGIXrmGetOrdersService/GetOrdersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CGIXrmGetOrders.Classes" />
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CGIXrmGetOrders.Classes" minOccurs="0" name="GetOrdersResult" nillable="true" type="q1:ArrayOfOrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CGIXrmGetOrders.Classes" minOccurs="0" name="CreditOrderResult" nillable="true" type="q2:CreditResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>