DK/Development/Release 0.9.0/Plugins/SkanetrafikenPlugins/SkanetrafikenPlugins/Service References/ChargeOrderService/ChargeOrder1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.skanetrafiken.com/DK/INTSTDK008.Card/CreateChargeOrderRequest/20150310" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.skanetrafiken.com/DK/INTSTDK008.Card/CreateChargeOrderRequest/20150310" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateChargeOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="CardNumber">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="Currency" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>