DK/Development/Hotfix 1.3.2/BizTalk/INTSTDK002.PubTransBatch/INTSTDK002.PubTrans.Schemas/LineDataService/LineDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/Imports">
      <xsd:import schemaLocation="LineDataService.xsd" namespace="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService"/>
      <xsd:import schemaLocation="LineDataService_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
      <xsd:import schemaLocation="LineDataService_1_2_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="LineDataService_1_2_3_4.xsd"/>
      <xsd:import schemaLocation="LineDataService_1_2.xsd" namespace="http://schemas.pubtrans.hogia.se/webservices/2008/11"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILineDataService_GetLines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLines"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinesResponse"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLines_ImplementationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q1:ImplementationFaultDetail" xmlns:q1="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLines_ClientFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q2:ClientFaultDetail" xmlns:q2="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLines_RuntimeFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q3:RuntimeFaultDetail" xmlns:q3="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLines_LicenseFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q4:LicenseFaultDetail" xmlns:q4="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLines_ConfigurationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q5:ConfigurationFaultDetail" xmlns:q5="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByGid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLinesByGid"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByGid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinesByGidResponse"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByGid_ConfigurationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q6:ConfigurationFaultDetail" xmlns:q6="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByGid_LicenseFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q7:LicenseFaultDetail" xmlns:q7="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByGid_RuntimeFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q8:RuntimeFaultDetail" xmlns:q8="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByGid_ImplementationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q9:ImplementationFaultDetail" xmlns:q9="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByGid_ClientFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q10:ClientFaultDetail" xmlns:q10="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByLineDesignation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLinesByLineDesignation"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByLineDesignation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinesByLineDesignationResponse"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByLineDesignation_ClientFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q11:ClientFaultDetail" xmlns:q11="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByLineDesignation_RuntimeFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q12:RuntimeFaultDetail" xmlns:q12="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByLineDesignation_ConfigurationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q13:ConfigurationFaultDetail" xmlns:q13="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByLineDesignation_LicenseFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q14:LicenseFaultDetail" xmlns:q14="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByLineDesignation_ImplementationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q15:ImplementationFaultDetail" xmlns:q15="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByDirectionOfLineGid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLinesByDirectionOfLineGid"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByDirectionOfLineGid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinesByDirectionOfLineGidResponse"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByDirectionOfLineGid_ClientFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q16:ClientFaultDetail" xmlns:q16="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByDirectionOfLineGid_LicenseFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q17:LicenseFaultDetail" xmlns:q17="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByDirectionOfLineGid_RuntimeFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q18:RuntimeFaultDetail" xmlns:q18="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByDirectionOfLineGid_ImplementationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q19:ImplementationFaultDetail" xmlns:q19="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesByDirectionOfLineGid_ConfigurationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q20:ConfigurationFaultDetail" xmlns:q20="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesWithStops_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLinesWithStops"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesWithStops_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinesWithStopsResponse"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesWithStops_ImplementationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q21:ImplementationFaultDetail" xmlns:q21="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesWithStops_RuntimeFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q22:RuntimeFaultDetail" xmlns:q22="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesWithStops_LicenseFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q23:LicenseFaultDetail" xmlns:q23="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesWithStops_ConfigurationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q24:ConfigurationFaultDetail" xmlns:q24="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetLinesWithStops_ClientFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q25:ClientFaultDetail" xmlns:q25="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnLine_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStopsOnLine"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStopsOnLineResponse"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnLine_LicenseFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q26:LicenseFaultDetail" xmlns:q26="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnLine_ClientFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q27:ClientFaultDetail" xmlns:q27="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnLine_RuntimeFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q28:RuntimeFaultDetail" xmlns:q28="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnLine_ImplementationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q29:ImplementationFaultDetail" xmlns:q29="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnLine_ConfigurationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q30:ConfigurationFaultDetail" xmlns:q30="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnDirectionOfLine_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStopsOnDirectionOfLine"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnDirectionOfLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStopsOnDirectionOfLineResponse"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnDirectionOfLine_ClientFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q31:ClientFaultDetail" xmlns:q31="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnDirectionOfLine_LicenseFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q32:LicenseFaultDetail" xmlns:q32="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnDirectionOfLine_RuntimeFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q33:RuntimeFaultDetail" xmlns:q33="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnDirectionOfLine_ImplementationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q34:ImplementationFaultDetail" xmlns:q34="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnDirectionOfLine_ConfigurationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q35:ConfigurationFaultDetail" xmlns:q35="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnServiceJourney_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStopsOnServiceJourney"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnServiceJourney_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStopsOnServiceJourneyResponse"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnServiceJourney_ClientFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q36:ClientFaultDetail" xmlns:q36="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnServiceJourney_RuntimeFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q37:RuntimeFaultDetail" xmlns:q37="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnServiceJourney_ConfigurationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q38:ConfigurationFaultDetail" xmlns:q38="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnServiceJourney_ImplementationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q39:ImplementationFaultDetail" xmlns:q39="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ILineDataService_GetStopsOnServiceJourney_LicenseFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q40:LicenseFaultDetail" xmlns:q40="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:portType name="ILineDataService">
    <wsdl:operation name="GetLines">
      <wsdl:input wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLines" message="tns:ILineDataService_GetLines_InputMessage"/>
      <wsdl:output wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesResponse" message="tns:ILineDataService_GetLines_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesImplementationFaultDetailFault" name="ImplementationFaultDetailFault" message="tns:ILineDataService_GetLines_ImplementationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesClientFaultDetailFault" name="ClientFaultDetailFault" message="tns:ILineDataService_GetLines_ClientFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesRuntimeFaultDetailFault" name="RuntimeFaultDetailFault" message="tns:ILineDataService_GetLines_RuntimeFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesLicenseFaultDetailFault" name="LicenseFaultDetailFault" message="tns:ILineDataService_GetLines_LicenseFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesConfigurationFaultDetailFault" name="ConfigurationFaultDetailFault" message="tns:ILineDataService_GetLines_ConfigurationFaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetLinesByGid">
      <wsdl:input wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByGid" message="tns:ILineDataService_GetLinesByGid_InputMessage"/>
      <wsdl:output wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByGidResponse" message="tns:ILineDataService_GetLinesByGid_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByGidConfigurationFaultDetailFault" name="ConfigurationFaultDetailFault" message="tns:ILineDataService_GetLinesByGid_ConfigurationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByGidLicenseFaultDetailFault" name="LicenseFaultDetailFault" message="tns:ILineDataService_GetLinesByGid_LicenseFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByGidRuntimeFaultDetailFault" name="RuntimeFaultDetailFault" message="tns:ILineDataService_GetLinesByGid_RuntimeFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByGidImplementationFaultDetailFault" name="ImplementationFaultDetailFault" message="tns:ILineDataService_GetLinesByGid_ImplementationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByGidClientFaultDetailFault" name="ClientFaultDetailFault" message="tns:ILineDataService_GetLinesByGid_ClientFaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetLinesByLineDesignation">
      <wsdl:input wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByLineDesignation" message="tns:ILineDataService_GetLinesByLineDesignation_InputMessage"/>
      <wsdl:output wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByLineDesignationResponse" message="tns:ILineDataService_GetLinesByLineDesignation_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByLineDesignationClientFaultDetailFault" name="ClientFaultDetailFault" message="tns:ILineDataService_GetLinesByLineDesignation_ClientFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByLineDesignationRuntimeFaultDetailFault" name="RuntimeFaultDetailFault" message="tns:ILineDataService_GetLinesByLineDesignation_RuntimeFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByLineDesignationConfigurationFaultDetailFault" name="ConfigurationFaultDetailFault" message="tns:ILineDataService_GetLinesByLineDesignation_ConfigurationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByLineDesignationLicenseFaultDetailFault" name="LicenseFaultDetailFault" message="tns:ILineDataService_GetLinesByLineDesignation_LicenseFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByLineDesignationImplementationFaultDetailFault" name="ImplementationFaultDetailFault" message="tns:ILineDataService_GetLinesByLineDesignation_ImplementationFaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetLinesByDirectionOfLineGid">
      <wsdl:input wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByDirectionOfLineGid" message="tns:ILineDataService_GetLinesByDirectionOfLineGid_InputMessage"/>
      <wsdl:output wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByDirectionOfLineGidResponse" message="tns:ILineDataService_GetLinesByDirectionOfLineGid_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByDirectionOfLineGidClientFaultDetailFault" name="ClientFaultDetailFault" message="tns:ILineDataService_GetLinesByDirectionOfLineGid_ClientFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByDirectionOfLineGidLicenseFaultDetailFault" name="LicenseFaultDetailFault" message="tns:ILineDataService_GetLinesByDirectionOfLineGid_LicenseFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByDirectionOfLineGidRuntimeFaultDetailFault" name="RuntimeFaultDetailFault" message="tns:ILineDataService_GetLinesByDirectionOfLineGid_RuntimeFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByDirectionOfLineGidImplementationFaultDetailFault" name="ImplementationFaultDetailFault" message="tns:ILineDataService_GetLinesByDirectionOfLineGid_ImplementationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesByDirectionOfLineGidConfigurationFaultDetailFault" name="ConfigurationFaultDetailFault" message="tns:ILineDataService_GetLinesByDirectionOfLineGid_ConfigurationFaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetLinesWithStops">
      <wsdl:input wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesWithStops" message="tns:ILineDataService_GetLinesWithStops_InputMessage"/>
      <wsdl:output wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesWithStopsResponse" message="tns:ILineDataService_GetLinesWithStops_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesWithStopsImplementationFaultDetailFault" name="ImplementationFaultDetailFault" message="tns:ILineDataService_GetLinesWithStops_ImplementationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesWithStopsRuntimeFaultDetailFault" name="RuntimeFaultDetailFault" message="tns:ILineDataService_GetLinesWithStops_RuntimeFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesWithStopsLicenseFaultDetailFault" name="LicenseFaultDetailFault" message="tns:ILineDataService_GetLinesWithStops_LicenseFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesWithStopsConfigurationFaultDetailFault" name="ConfigurationFaultDetailFault" message="tns:ILineDataService_GetLinesWithStops_ConfigurationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetLinesWithStopsClientFaultDetailFault" name="ClientFaultDetailFault" message="tns:ILineDataService_GetLinesWithStops_ClientFaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetStopsOnLine">
      <wsdl:input wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnLine" message="tns:ILineDataService_GetStopsOnLine_InputMessage"/>
      <wsdl:output wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnLineResponse" message="tns:ILineDataService_GetStopsOnLine_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnLineLicenseFaultDetailFault" name="LicenseFaultDetailFault" message="tns:ILineDataService_GetStopsOnLine_LicenseFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnLineClientFaultDetailFault" name="ClientFaultDetailFault" message="tns:ILineDataService_GetStopsOnLine_ClientFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnLineRuntimeFaultDetailFault" name="RuntimeFaultDetailFault" message="tns:ILineDataService_GetStopsOnLine_RuntimeFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnLineImplementationFaultDetailFault" name="ImplementationFaultDetailFault" message="tns:ILineDataService_GetStopsOnLine_ImplementationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnLineConfigurationFaultDetailFault" name="ConfigurationFaultDetailFault" message="tns:ILineDataService_GetStopsOnLine_ConfigurationFaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetStopsOnDirectionOfLine">
      <wsdl:input wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnDirectionOfLine" message="tns:ILineDataService_GetStopsOnDirectionOfLine_InputMessage"/>
      <wsdl:output wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnDirectionOfLineResponse" message="tns:ILineDataService_GetStopsOnDirectionOfLine_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnDirectionOfLineClientFaultDetailFault" name="ClientFaultDetailFault" message="tns:ILineDataService_GetStopsOnDirectionOfLine_ClientFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnDirectionOfLineLicenseFaultDetailFault" name="LicenseFaultDetailFault" message="tns:ILineDataService_GetStopsOnDirectionOfLine_LicenseFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnDirectionOfLineRuntimeFaultDetailFault" name="RuntimeFaultDetailFault" message="tns:ILineDataService_GetStopsOnDirectionOfLine_RuntimeFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnDirectionOfLineImplementationFaultDetailFault" name="ImplementationFaultDetailFault" message="tns:ILineDataService_GetStopsOnDirectionOfLine_ImplementationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnDirectionOfLineConfigurationFaultDetailFault" name="ConfigurationFaultDetailFault" message="tns:ILineDataService_GetStopsOnDirectionOfLine_ConfigurationFaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetStopsOnServiceJourney">
      <wsdl:input wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnServiceJourney" message="tns:ILineDataService_GetStopsOnServiceJourney_InputMessage"/>
      <wsdl:output wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnServiceJourneyResponse" message="tns:ILineDataService_GetStopsOnServiceJourney_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnServiceJourneyClientFaultDetailFault" name="ClientFaultDetailFault" message="tns:ILineDataService_GetStopsOnServiceJourney_ClientFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnServiceJourneyRuntimeFaultDetailFault" name="RuntimeFaultDetailFault" message="tns:ILineDataService_GetStopsOnServiceJourney_RuntimeFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnServiceJourneyConfigurationFaultDetailFault" name="ConfigurationFaultDetailFault" message="tns:ILineDataService_GetStopsOnServiceJourney_ConfigurationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnServiceJourneyImplementationFaultDetailFault" name="ImplementationFaultDetailFault" message="tns:ILineDataService_GetStopsOnServiceJourney_ImplementationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/LineDataService/ILineDataService/GetStopsOnServiceJourneyLicenseFaultDetailFault" name="LicenseFaultDetailFault" message="tns:ILineDataService_GetStopsOnServiceJourney_LicenseFaultDetailFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>