DK/Development/Release 1.1.0/Plugins/SkanetrafikenPlugins/SkanetrafikenPlugins/Service References/GetOutstandingChargesService/GetOutstandingCharges.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.skanetrafiken.com/DK/INTSTDK008.Card/GetOutstandingCharges/20150310" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://www.skanetrafiken.com/DK/INTSTDK008.Card/GetOutstandingCharges/20150310" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OutstandingChargesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CardNumber">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutstandingChargesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Message" type="xs:string" />
        <xs:element minOccurs="0" name="HasOutstandingCharge" type="xs:boolean" />
        <xs:element minOccurs="0" name="HasExpiredCharge" type="xs:boolean" />
        <xs:element minOccurs="0" name="Amount" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="ErrorMessage" type="xs:string" />
        <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>