DK/Development/Release 1.10.0/BizTalk/INTSTDK002.PubTransBatch/INTSTDK002.CRM.Schemas/Table.dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">Table.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="Contractor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Gid" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IsOrganisationId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IsPromotedByTransportAuthorityId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsFromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsUptoDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contractor" nillable="true" type="ns3:Contractor" />
  <xs:complexType name="ArrayOfContractor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contractor" type="ns3:Contractor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContractor" nillable="true" type="ns3:ArrayOfContractor" />
  <xs:complexType name="DirectionOfLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Gid" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DirectionCode" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IsOnLineId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectionOfLine" nillable="true" type="ns3:DirectionOfLine" />
  <xs:complexType name="ArrayOfDirectionOfLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectionOfLine" type="ns3:DirectionOfLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectionOfLine" nillable="true" type="ns3:ArrayOfDirectionOfLine" />
  <xs:complexType name="GroupOfLines">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TransportAuthorityCode" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Code" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PurposeOfGroupingCode" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsFromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsUptoDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupOfLines" nillable="true" type="ns3:GroupOfLines" />
  <xs:complexType name="ArrayOfGroupOfLines">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupOfLines" type="ns3:GroupOfLines" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupOfLines" nillable="true" type="ns3:ArrayOfGroupOfLines" />
  <xs:complexType name="Line">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Gid" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Number" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="4" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Designation" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DefaultTransportModeCode" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TransportAuthorityCode" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TransportAuthorityName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DisplayOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsFromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsUptoDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Line" nillable="true" type="ns3:Line" />
  <xs:complexType name="ArrayOfLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Line" type="ns3:Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLine" nillable="true" type="ns3:ArrayOfLine" />
  <xs:complexType name="LineDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="LineDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineType" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CreatedOn" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineDetails" nillable="true" type="ns3:LineDetails" />
  <xs:complexType name="ArrayOfLineDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineDetails" type="ns3:LineDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineDetails" nillable="true" type="ns3:ArrayOfLineDetails" />
  <xs:complexType name="LineInGroupOfLines">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IsLineId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IsLineGid" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IsInGroupOfLinesId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IsInGroupOfLineId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsFromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsUptoDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineInGroupOfLines" nillable="true" type="ns3:LineInGroupOfLines" />
  <xs:complexType name="ArrayOfLineInGroupOfLines">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineInGroupOfLines" type="ns3:LineInGroupOfLines" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineInGroupOfLines" nillable="true" type="ns3:ArrayOfLineInGroupOfLines" />
  <xs:complexType name="LineInZone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Gid" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Number" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="4" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Designation" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DisplayOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransportAuthorityCode" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OperatorCode" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsFromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsUptoDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="OperatesZoneId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineInZone" nillable="true" type="ns3:LineInZone" />
  <xs:complexType name="ArrayOfLineInZone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineInZone" type="ns3:LineInZone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineInZone" nillable="true" type="ns3:ArrayOfLineInZone" />
  <xs:complexType name="OrganisationalUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Code" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MailAddressName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="VisitingAddressName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Postcode" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PostOfficeName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsFromDate" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNumber" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsUptoDate" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CoordinateSystemName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CentroidNorthingCoordinate" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CentroidEastingCoordinate" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganisationalUnit" nillable="true" type="ns3:OrganisationalUnit" />
  <xs:complexType name="ArrayOfOrganisationalUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganisationalUnit" type="ns3:OrganisationalUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganisationalUnit" nillable="true" type="ns3:ArrayOfOrganisationalUnit" />
  <xs:complexType name="StopOnLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="StopAreaId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StopAreaGid" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StopAreaName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StopAreaShortName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StopPointId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StopPointGid" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="JourneyPatternPointGid" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TransportAuthorityCode" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="25" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsFromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IsOnLineId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IsOnLineGid" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IsOnDirectionOfLineGid" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsUptoDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="StopAreaAbbreviation" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StopPointName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StopPointShortName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StopPointDesignation" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StopPointLocalNumber" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="3" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DisplayOrderNumber" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StopOnLine" nillable="true" type="ns3:StopOnLine" />
  <xs:complexType name="ArrayOfStopOnLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StopOnLine" type="ns3:StopOnLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStopOnLine" nillable="true" type="ns3:ArrayOfStopOnLine" />
  <xs:complexType name="TransportAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Gid" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IsOrganisationId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TimetableReleasedForPublicUseUptoDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsFromDate" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportAuthority" nillable="true" type="ns3:TransportAuthority" />
  <xs:complexType name="ArrayOfTransportAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransportAuthority" type="ns3:TransportAuthority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransportAuthority" nillable="true" type="ns3:ArrayOfTransportAuthority" />
  <xs:complexType name="Zone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Gid" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="16" />
            <xs:fractionDigits value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Number" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ShortName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TypeCode" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TransportAuthorityCode" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsFromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Code" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExistsUptoDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zone" nillable="true" type="ns3:Zone" />
  <xs:complexType name="ArrayOfZone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Zone" type="ns3:Zone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZone" nillable="true" type="ns3:ArrayOfZone" />
</xs:schema>