DK/Development/Release 1.5.0/BizTalk/INTSTDK003.CrmRealTime/INTSTDK003.CRM.Schemas/Customer_TravelCard/PortalService_1_2_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CGICRMPortalService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/CGICRMPortalService" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
  <xs:import schemaLocation="PortalService_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:import schemaLocation="PortalService_1_2.xsd" namespace="http://schemas.datacontract.org/2004/07/CGICRMPortalService.Models"/>
  <xs:complexType name="TravelCard">
    <xs:sequence>
      <xs:element name="AccountId" type="ser:guid"/>
      <xs:element minOccurs="0" name="AutoloadConnectionDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="AutoloadDisconnectionDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="AutoloadStatus" type="xs:int"/>
      <xs:element minOccurs="0" name="Blocked" type="xs:boolean"/>
      <xs:element minOccurs="0" name="CardCategory" type="xs:int"/>
      <xs:element minOccurs="0" name="CardName" nillable="true" type="xs:string"/>
      <xs:element name="CardNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CreditCardMask" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string"/>
      <xs:element name="CustomerType" type="q1:AccountCategoryCode" xmlns:q1="http://schemas.datacontract.org/2004/07/CGICRMPortalService.Models"/>
      <xs:element minOccurs="0" name="FailedAttemptsToChargeMoney" type="xs:int"/>
      <xs:element minOccurs="0" name="LatestAutoloadAmount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="LatestChargeDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="LatestFailedAttempt" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PeriodCardTypeId" type="xs:int"/>
      <xs:element minOccurs="0" name="PeriodCardTypeTitle" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PeriodValidFrom" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="PeriodValidTo" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ValueCardTypeId" type="xs:int"/>
      <xs:element minOccurs="0" name="ValueCardTypeTitle" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="VerifyId" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TravelCard" nillable="true" type="tns:TravelCard"/>
  <xs:complexType name="ArrayOfTravelCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TravelCard" nillable="true" type="tns:TravelCard"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTravelCard" nillable="true" type="tns:ArrayOfTravelCard"/>
</xs:schema>