DK/Development/Release 1.7.0/WebResources/Silverlight/CRM.GetOrders/CRM.GetOrders/Service References/GetOrdersServiceReference/GetOrdersService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CGIXrmGetOrders.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CGIXrmGetOrders.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderHeader" nillable="true" type="tns:OrderHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderHeader" nillable="true" type="tns:ArrayOfOrderHeader" />
  <xs:complexType name="OrderHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderDateSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderItems" nillable="true" type="tns:ArrayOfOrderRow" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderTotalSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderTotalVat" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderTotalVatSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payments" nillable="true" type="tns:ArrayOfPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderHeader" nillable="true" type="tns:OrderHeader" />
  <xs:complexType name="ArrayOfOrderRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderRow" nillable="true" type="tns:OrderRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderRow" nillable="true" type="tns:ArrayOfOrderRow" />
  <xs:complexType name="OrderRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="Quantity" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="QuantitySpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderRow" nillable="true" type="tns:OrderRow" />
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayment" nillable="true" type="tns:ArrayOfPayment" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" type="xs:decimal" />
      <xs:element minOccurs="0" name="SumSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:complexType name="CreditResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sum" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditResponse" nillable="true" type="tns:CreditResponse" />
</xs:schema>