DK/Development/Release 1.6.0/BizTalk/INTSTDK003.Case/Files/CreateCase/CreateCase_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CreateCase" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="CreateCase.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="CreateCase_1_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="CreateCase_1.xsd" namespace="http://schemas.datacontract.org/2004/07/CGIXrmCreateCaseService"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreateCase_RequestCreateCase_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestCreateCase"/>
  </wsdl:message>
  <wsdl:message name="ICreateCase_RequestCreateCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestCreateCaseResponse"/>
  </wsdl:message>
  <wsdl:message name="ICreateCase_RequestCreateAutoRGCase_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestCreateAutoRGCase"/>
  </wsdl:message>
  <wsdl:message name="ICreateCase_RequestCreateAutoRGCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestCreateAutoRGCaseResponse"/>
  </wsdl:message>
  <wsdl:message name="ICreateCase_RequestUpdateAutoRGCase_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestUpdateAutoRGCase"/>
  </wsdl:message>
  <wsdl:message name="ICreateCase_RequestUpdateAutoRGCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestUpdateAutoRGCaseResponse"/>
  </wsdl:message>
  <wsdl:portType name="ICreateCase">
    <wsdl:operation name="RequestCreateCase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateCase/RequestCreateCase" message="tns:ICreateCase_RequestCreateCase_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateCase/RequestCreateCaseResponse" message="tns:ICreateCase_RequestCreateCase_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RequestCreateAutoRGCase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateCase/RequestCreateAutoRGCase" message="tns:ICreateCase_RequestCreateAutoRGCase_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateCase/RequestCreateAutoRGCaseResponse" message="tns:ICreateCase_RequestCreateAutoRGCase_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RequestUpdateAutoRGCase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateCase/RequestUpdateAutoRGCase" message="tns:ICreateCase_RequestUpdateAutoRGCase_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateCase/RequestUpdateAutoRGCaseResponse" message="tns:ICreateCase_RequestUpdateAutoRGCase_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICreateCase" type="tns:ICreateCase">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RequestCreateCase">
      <soap:operation soapAction="http://tempuri.org/ICreateCase/RequestCreateCase" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCreateAutoRGCase">
      <soap:operation soapAction="http://tempuri.org/ICreateCase/RequestCreateAutoRGCase" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUpdateAutoRGCase">
      <soap:operation soapAction="http://tempuri.org/ICreateCase/RequestUpdateAutoRGCase" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreateCase">
    <wsdl:port name="BasicHttpBinding_ICreateCase" binding="tns:BasicHttpBinding_ICreateCase">
      <soap:address location="http://v-dkcrm-utv:4500/CGIXrmCreateCaseServiceTest/CreateCase.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>