DK/Development/Mitt Konto 1.0/WebResources/Silverlight/CRM.GetOrders/CRM.GetOrders/Service References/GetOrdersServiceReference/GetOrdersService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CGIXrmGetOrders.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CGIXrmGetOrders.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrderHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrderResponse" nillable="true" type="tns:GetOrderResponse" />
  <xs:complexType name="ArrayOfOrderHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderHeader" nillable="true" type="tns:OrderHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderHeader" nillable="true" type="tns:ArrayOfOrderHeader" />
  <xs:complexType name="OrderHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderItems" nillable="true" type="tns:ArrayOfOrderRow" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderTotalVat" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payments" nillable="true" type="tns:ArrayOfPayment" />
      <xs:element minOccurs="0" name="ShippingAddress" nillable="true" type="tns:ArrayOfShippingAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderHeader" nillable="true" type="tns:OrderHeader" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCompany" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfOrderRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderRow" nillable="true" type="tns:OrderRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderRow" nillable="true" type="tns:ArrayOfOrderRow" />
  <xs:complexType name="OrderRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="Quantity" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="QuantitySpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderRow" nillable="true" type="tns:OrderRow" />
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayment" nillable="true" type="tns:ArrayOfPayment" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GiftCardCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" type="xs:decimal" />
      <xs:element minOccurs="0" name="SumSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:complexType name="ArrayOfShippingAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShippingAddress" nillable="true" type="tns:ShippingAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShippingAddress" nillable="true" type="tns:ArrayOfShippingAddress" />
  <xs:complexType name="ShippingAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CellPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Co" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShippingAddress" nillable="true" type="tns:ShippingAddress" />
  <xs:complexType name="CreditOrderRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditRows" nillable="true" type="tns:ArrayOfCreditRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditOrderRequest" nillable="true" type="tns:CreditOrderRequest" />
  <xs:complexType name="ArrayOfCreditRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditRow" nillable="true" type="tns:CreditRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditRow" nillable="true" type="tns:ArrayOfCreditRow" />
  <xs:complexType name="CreditRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditRow" nillable="true" type="tns:CreditRow" />
  <xs:complexType name="GetCreditOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditOrderMessage" nillable="true" type="tns:ArrayOfCreditOrderMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCreditOrderResponse" nillable="true" type="tns:GetCreditOrderResponse" />
  <xs:complexType name="ArrayOfCreditOrderMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditOrderMessage" nillable="true" type="tns:CreditOrderMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditOrderMessage" nillable="true" type="tns:ArrayOfCreditOrderMessage" />
  <xs:complexType name="CreditOrderMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="CRMMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditOrderMessage" nillable="true" type="tns:CreditOrderMessage" />
  <xs:complexType name="SavedCreditOrderRowsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderList" nillable="true" type="tns:ArrayOfCreditOrderRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SavedCreditOrderRowsResponse" nillable="true" type="tns:SavedCreditOrderRowsResponse" />
  <xs:complexType name="ArrayOfCreditOrderRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditOrderRow" nillable="true" type="tns:CreditOrderRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditOrderRow" nillable="true" type="tns:ArrayOfCreditOrderRow" />
  <xs:complexType name="CreditOrderRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accountid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contactid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Productnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditOrderRow" nillable="true" type="tns:CreditOrderRow" />
</xs:schema>