DK/Development/Hotfix 1.3.1/Plugins/SkanetrafikenPlugins/SkanetrafikenPlugins/Service References/CancelGiftCardService/CancelGiftCard1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:b="http://schemas.microsoft.com/BizTalk/2003" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.skanetrafiken.com/DK/INTSTDK008/CancelGiftCardResponseJSON/20150915" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CancelGiftCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelledGiftCardCodes" type="xs:string" />
        <xs:element minOccurs="0" name="Message" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMessage" type="xs:string" />
        <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>