DK/Development/Hotfix 1.3.1/WebResources/Silverlight/CRM.Travel.Information/CRM.Travel.Information/Service References/PubTrans/ExtConnectorService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CGIXrmExtConnectorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CGIXrmExtConnectorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://v-dkcrm-tst.int.skanetrafiken.com:4001/ExtConnectorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://v-dkcrm-tst.int.skanetrafiken.com:4001/ExtConnectorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CreateIndexRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="KbArticleForExternalWeb" nillable="true" type="tns:Article" />
      <xs:element minOccurs="0" name="KbArticleForIntranet" nillable="true" type="tns:Article" />
      <xs:element minOccurs="0" name="RequestActionType" type="tns:ActionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateIndexRequest" nillable="true" type="tns:CreateIndexRequest" />
  <xs:complexType name="Article">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Authors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternalText" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Keywords" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="KnowledgeBaseArticleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Article" nillable="true" type="tns:Article" />
  <xs:simpleType name="ActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Intranet">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ExternalWeb">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Both">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ActionType" nillable="true" type="tns:ActionType" />
  <xs:complexType name="CreateIndexResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExternalWebIndexId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExternalWebIndexStatus" type="xs:boolean" />
          <xs:element minOccurs="0" name="IntranetIndexId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IntranetIndexStatus" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateIndexResponse" nillable="true" type="tns:CreateIndexResponse" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:ProcessingStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:simpleType name="ProcessingStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="FAILED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProcessingStatus" nillable="true" type="tns:ProcessingStatus" />
  <xs:complexType name="RemoveIndexRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalWebIndexId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntranetIndexId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveIndexRequest" nillable="true" type="tns:RemoveIndexRequest" />
  <xs:complexType name="RemoveIndexResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RemoveIndexResponse" nillable="true" type="tns:RemoveIndexResponse" />
  <xs:simpleType name="TransportType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CITYBUS" />
      <xs:enumeration value="REGIONBUS" />
      <xs:enumeration value="TRAIN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransportType" nillable="true" type="tns:TransportType" />
  <xs:complexType name="OrganisationalUnitResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errormessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationalUnitList" nillable="true" type="tns:ArrayOfOrganisationalUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganisationalUnitResponse" nillable="true" type="tns:OrganisationalUnitResponse" />
  <xs:complexType name="ArrayOfOrganisationalUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganisationalUnit" nillable="true" type="tns:OrganisationalUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganisationalUnit" nillable="true" type="tns:ArrayOfOrganisationalUnit" />
  <xs:complexType name="OrganisationalUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganisationalUnit" nillable="true" type="tns:OrganisationalUnit" />
  <xs:complexType name="ContractorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractorList" nillable="true" type="tns:ArrayOfContractor" />
      <xs:element minOccurs="0" name="Errormessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractorResponse" nillable="true" type="tns:ContractorResponse" />
  <xs:complexType name="ArrayOfContractor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contractor" nillable="true" type="tns:Contractor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContractor" nillable="true" type="tns:ArrayOfContractor" />
  <xs:complexType name="Contractor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOrganisationId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contractor" nillable="true" type="tns:Contractor" />
</xs:schema>