DK/Development/Hotfix 1.3.1/WebResources/Silverlight/CRM.Travel.Information/CRM.Travel.Information/Service References/PubTrans/ExtConnectorService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExtConnectorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://v-dkcrm-tst.int.skanetrafiken.com:4001/ExtConnectorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://v-dkcrm-tst.int.skanetrafiken.com:4001/ExtConnectorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://v-dkcrm-tst.int.skanetrafiken.com:4001/ExtConnectorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CGIXrmExtConnectorService" />
      <xsd:import schemaLocation="http://v-dkcrm-tst.int.skanetrafiken.com:4001/ExtConnectorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://v-dkcrm-tst.int.skanetrafiken.com:4001/ExtConnectorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICMSIndexService_CreateIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIndex" />
  </wsdl:message>
  <wsdl:message name="ICMSIndexService_CreateIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIndexResponse" />
  </wsdl:message>
  <wsdl:message name="ICMSIndexService_RemoveIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveIndex" />
  </wsdl:message>
  <wsdl:message name="ICMSIndexService_RemoveIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveIndexResponse" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetStradBusDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStradBusDetails" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetStradBusDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStradBusDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetRegionBusDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionBusDetails" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetRegionBusDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionBusDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetTrainDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainDetails" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetTrainDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrainDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetDirectJourneys_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectJourneys" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetDirectJourneys_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectJourneysResponse" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetCallsForServiceJourney_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsForServiceJourney" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetCallsForServiceJourney_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsForServiceJourneyResponse" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetOrganisationalUnits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganisationalUnits" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetOrganisationalUnits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganisationalUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetContractors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContractors" />
  </wsdl:message>
  <wsdl:message name="IPubTransService_GetContractors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractorsResponse" />
  </wsdl:message>
  <wsdl:message name="IExtConnectorService_GetAgentUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentUserId" />
  </wsdl:message>
  <wsdl:message name="IExtConnectorService_GetAgentUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IExtConnectorService_GetAgentUserId_ExtConnectorServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/" name="detail" element="q1:ExtConnectorServiceFault" />
  </wsdl:message>
  <wsdl:portType name="ICMSIndexService">
    <wsdl:operation name="CreateIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSIndexService/CreateIndex" message="tns:ICMSIndexService_CreateIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSIndexService/CreateIndexResponse" message="tns:ICMSIndexService_CreateIndex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMSIndexService/RemoveIndex" message="tns:ICMSIndexService_RemoveIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMSIndexService/RemoveIndexResponse" message="tns:ICMSIndexService_RemoveIndex_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPubTransService">
    <wsdl:operation name="GetStradBusDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IPubTransService/GetStradBusDetails" message="tns:IPubTransService_GetStradBusDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPubTransService/GetStradBusDetailsResponse" message="tns:IPubTransService_GetStradBusDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegionBusDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IPubTransService/GetRegionBusDetails" message="tns:IPubTransService_GetRegionBusDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPubTransService/GetRegionBusDetailsResponse" message="tns:IPubTransService_GetRegionBusDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrainDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IPubTransService/GetTrainDetails" message="tns:IPubTransService_GetTrainDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPubTransService/GetTrainDetailsResponse" message="tns:IPubTransService_GetTrainDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectJourneys">
      <wsdl:input wsaw:Action="http://tempuri.org/IPubTransService/GetDirectJourneys" message="tns:IPubTransService_GetDirectJourneys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPubTransService/GetDirectJourneysResponse" message="tns:IPubTransService_GetDirectJourneys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCallsForServiceJourney">
      <wsdl:input wsaw:Action="http://tempuri.org/IPubTransService/GetCallsForServiceJourney" message="tns:IPubTransService_GetCallsForServiceJourney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPubTransService/GetCallsForServiceJourneyResponse" message="tns:IPubTransService_GetCallsForServiceJourney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganisationalUnits">
      <wsdl:input wsaw:Action="http://tempuri.org/IPubTransService/GetOrganisationalUnits" message="tns:IPubTransService_GetOrganisationalUnits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPubTransService/GetOrganisationalUnitsResponse" message="tns:IPubTransService_GetOrganisationalUnits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContractors">
      <wsdl:input wsaw:Action="http://tempuri.org/IPubTransService/GetContractors" message="tns:IPubTransService_GetContractors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPubTransService/GetContractorsResponse" message="tns:IPubTransService_GetContractors_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IExtConnectorService">
    <wsdl:operation name="GetAgentUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IExtConnectorService/GetAgentUserId" message="tns:IExtConnectorService_GetAgentUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExtConnectorService/GetAgentUserIdResponse" message="tns:IExtConnectorService_GetAgentUserId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IExtConnectorService/GetAgentUserIdExtConnectorServiceFaultFault" name="ExtConnectorServiceFaultFault" message="tns:IExtConnectorService_GetAgentUserId_ExtConnectorServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICMSIndexService" type="tns:ICMSIndexService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateIndex">
      <soap:operation soapAction="http://tempuri.org/ICMSIndexService/CreateIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveIndex">
      <soap:operation soapAction="http://tempuri.org/ICMSIndexService/RemoveIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IPubTransService" type="tns:IPubTransService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStradBusDetails">
      <soap:operation soapAction="http://tempuri.org/IPubTransService/GetStradBusDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionBusDetails">
      <soap:operation soapAction="http://tempuri.org/IPubTransService/GetRegionBusDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainDetails">
      <soap:operation soapAction="http://tempuri.org/IPubTransService/GetTrainDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectJourneys">
      <soap:operation soapAction="http://tempuri.org/IPubTransService/GetDirectJourneys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallsForServiceJourney">
      <soap:operation soapAction="http://tempuri.org/IPubTransService/GetCallsForServiceJourney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganisationalUnits">
      <soap:operation soapAction="http://tempuri.org/IPubTransService/GetOrganisationalUnits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractors">
      <soap:operation soapAction="http://tempuri.org/IPubTransService/GetContractors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IExtConnectorService" type="tns:IExtConnectorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgentUserId">
      <soap:operation soapAction="http://tempuri.org/IExtConnectorService/GetAgentUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExtConnectorServiceFaultFault">
        <soap:fault use="literal" name="ExtConnectorServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExtConnectorService">
    <wsdl:port name="BasicHttpBinding_ICMSIndexService" binding="tns:BasicHttpBinding_ICMSIndexService">
      <soap:address location="http://v-dkcrm-tst.int.skanetrafiken.com:4001/ExtConnectorService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IPubTransService" binding="tns:BasicHttpBinding_IPubTransService">
      <soap:address location="http://v-dkcrm-tst.int.skanetrafiken.com:4001/ExtConnectorService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IExtConnectorService" binding="tns:BasicHttpBinding_IExtConnectorService">
      <soap:address location="http://v-dkcrm-tst.int.skanetrafiken.com:4001/ExtConnectorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>