DK/Development/Release 1.7.0/BizTalk/INTSTDK004.BiffRealTime/Files/Biff/webservice_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://cubic.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cubic.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cubic.com">
      <s:import namespace="http://Biff.com/CardTransactions.xsd"/>
      <s:import namespace="http://Biff.com/CardDetails.xsd"/>
      <s:import namespace="http://Biff.com/CardDetails2.xsd"/>
      <s:import namespace="http://BIFF.org/TopUpAmounts.xsd"/>
      <s:import namespace="http://BIFF.org/PeriodCost.xsd"/>
      <s:import namespace="http://BIFF.org/AutoloadActivity.xsd"/>
      <s:import namespace="http://tempuri.org/CardActivities.xsd"/>
      <s:import schemaLocation="webservice.xsd" namespace="http://Biff.com/CardTransactions.xsd"/>
      <s:import schemaLocation="webservice_1.xsd" namespace="http://BIFF.org/TopUpAmounts.xsd"/>
      <s:import schemaLocation="webservice_1_2.xsd" namespace="http://Biff.com/CardDetails.xsd"/>
      <s:import schemaLocation="webservice_1_2_3.xsd" namespace="http://tempuri.org/CardActivities.xsd"/>
      <s:import schemaLocation="webservice_1_2_3_4.xsd" namespace="http://Biff.com/CardDetails2.xsd"/>
      <s:import schemaLocation="webservice_1_2_3_4_5.xsd" namespace="http://BIFF.org/AutoloadActivity.xsd"/>
      <s:import schemaLocation="webservice_1_2_3_4_5_6.xsd" namespace="http://BIFF.org/PeriodCost.xsd"/>
      <s:element name="GetCardTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CardSerialNumber" type="s:unsignedLong"/>
            <s:element minOccurs="1" maxOccurs="1" name="MaxTransactions" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime"/>
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCardTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCardTransactionsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://Biff.com/CardTransactions.xsd"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCardDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CardSerialNumber" type="s:unsignedLong"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCardDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCardDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://Biff.com/CardDetails.xsd"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCardDetails2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CardSerialNumber" type="s:unsignedLong"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCardDetails2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCardDetails2Result">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://Biff.com/CardDetails2.xsd"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopUpAmounts">
        <s:complexType/>
      </s:element>
      <s:element name="GetTopUpAmountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopUpAmountsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://BIFF.org/TopUpAmounts.xsd"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopUpAmountsForTicketCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ticketCode" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopUpAmountsForTicketCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopUpAmountsForTicketCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://BIFF.org/TopUpAmounts.xsd"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPeriodCost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CardNumber" type="s:unsignedLong"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPeriodCostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPeriodCostResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://BIFF.org/PeriodCost.xsd"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestValueThresholdAutoload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CardSerialNumber" type="s:unsignedLong"/>
            <s:element minOccurs="1" maxOccurs="1" name="TopUpLevel" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="DisableThresholdAutoload" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestValueThresholdAutoloadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestValueThresholdAutoloadResult" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestPeriodThresholdAutoload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CardSerialNumber" type="s:unsignedLong"/>
            <s:element minOccurs="1" maxOccurs="1" name="DisableThresholdAutoload" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestPeriodThresholdAutoloadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPeriodThresholdAutoloadResult" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestPurseDirectedAutoload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CardSerialNumber" type="s:unsignedLong"/>
            <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="AmountToAdd" type="s:float"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestPurseDirectedAutoloadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPurseDirectedAutoloadResult" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestPeriodDirectedAutoload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CardSerialNumber" type="s:unsignedLong"/>
            <s:element minOccurs="1" maxOccurs="1" name="ContractSerialNumber" type="s:unsignedLong"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestPeriodDirectedAutoloadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPeriodDirectedAutoloadResult" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCardBlock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CardSerialNumber" type="s:unsignedLong"/>
            <s:element minOccurs="1" maxOccurs="1" name="ReasonCode" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCardBlockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestCardBlockResult" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestProductBlock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CardSerialNumber" type="s:unsignedLong"/>
            <s:element minOccurs="1" maxOccurs="1" name="ReasonCode" type="s:long"/>
            <s:element minOccurs="1" maxOccurs="1" name="CardSection" type="s:unsignedByte"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestProductBlockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestProductBlockResult" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCardUnBlock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CardSerialNumber" type="s:unsignedLong"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCardUnBlockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestCardUnBlockResult" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestProductUnBlock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CardSerialNumber" type="s:unsignedLong"/>
            <s:element minOccurs="1" maxOccurs="1" name="CardSection" type="s:unsignedByte"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestProductUnBlockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestProductUnBlockResult" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAutoloadActivityReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime"/>
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAutoloadActivityReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAutoloadActivityReportResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://BIFF.org/AutoloadActivity.xsd"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAutoloadThresholdActivities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime"/>
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAutoloadThresholdActivitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAutoloadThresholdActivitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/CardActivities.xsd"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCardTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCardTransactions"/>
  </wsdl:message>
  <wsdl:message name="GetCardTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCardTransactionsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCardDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCardDetails"/>
  </wsdl:message>
  <wsdl:message name="GetCardDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCardDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCardDetails2SoapIn">
    <wsdl:part name="parameters" element="tns:GetCardDetails2"/>
  </wsdl:message>
  <wsdl:message name="GetCardDetails2SoapOut">
    <wsdl:part name="parameters" element="tns:GetCardDetails2Response"/>
  </wsdl:message>
  <wsdl:message name="GetTopUpAmountsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopUpAmounts"/>
  </wsdl:message>
  <wsdl:message name="GetTopUpAmountsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopUpAmountsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTopUpAmountsForTicketCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopUpAmountsForTicketCode"/>
  </wsdl:message>
  <wsdl:message name="GetTopUpAmountsForTicketCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopUpAmountsForTicketCodeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPeriodCostSoapIn">
    <wsdl:part name="parameters" element="tns:GetPeriodCost"/>
  </wsdl:message>
  <wsdl:message name="GetPeriodCostSoapOut">
    <wsdl:part name="parameters" element="tns:GetPeriodCostResponse"/>
  </wsdl:message>
  <wsdl:message name="RequestValueThresholdAutoloadSoapIn">
    <wsdl:part name="parameters" element="tns:RequestValueThresholdAutoload"/>
  </wsdl:message>
  <wsdl:message name="RequestValueThresholdAutoloadSoapOut">
    <wsdl:part name="parameters" element="tns:RequestValueThresholdAutoloadResponse"/>
  </wsdl:message>
  <wsdl:message name="RequestPeriodThresholdAutoloadSoapIn">
    <wsdl:part name="parameters" element="tns:RequestPeriodThresholdAutoload"/>
  </wsdl:message>
  <wsdl:message name="RequestPeriodThresholdAutoloadSoapOut">
    <wsdl:part name="parameters" element="tns:RequestPeriodThresholdAutoloadResponse"/>
  </wsdl:message>
  <wsdl:message name="RequestPurseDirectedAutoloadSoapIn">
    <wsdl:part name="parameters" element="tns:RequestPurseDirectedAutoload"/>
  </wsdl:message>
  <wsdl:message name="RequestPurseDirectedAutoloadSoapOut">
    <wsdl:part name="parameters" element="tns:RequestPurseDirectedAutoloadResponse"/>
  </wsdl:message>
  <wsdl:message name="RequestPeriodDirectedAutoloadSoapIn">
    <wsdl:part name="parameters" element="tns:RequestPeriodDirectedAutoload"/>
  </wsdl:message>
  <wsdl:message name="RequestPeriodDirectedAutoloadSoapOut">
    <wsdl:part name="parameters" element="tns:RequestPeriodDirectedAutoloadResponse"/>
  </wsdl:message>
  <wsdl:message name="RequestCardBlockSoapIn">
    <wsdl:part name="parameters" element="tns:RequestCardBlock"/>
  </wsdl:message>
  <wsdl:message name="RequestCardBlockSoapOut">
    <wsdl:part name="parameters" element="tns:RequestCardBlockResponse"/>
  </wsdl:message>
  <wsdl:message name="RequestProductBlockSoapIn">
    <wsdl:part name="parameters" element="tns:RequestProductBlock"/>
  </wsdl:message>
  <wsdl:message name="RequestProductBlockSoapOut">
    <wsdl:part name="parameters" element="tns:RequestProductBlockResponse"/>
  </wsdl:message>
  <wsdl:message name="RequestCardUnBlockSoapIn">
    <wsdl:part name="parameters" element="tns:RequestCardUnBlock"/>
  </wsdl:message>
  <wsdl:message name="RequestCardUnBlockSoapOut">
    <wsdl:part name="parameters" element="tns:RequestCardUnBlockResponse"/>
  </wsdl:message>
  <wsdl:message name="RequestProductUnBlockSoapIn">
    <wsdl:part name="parameters" element="tns:RequestProductUnBlock"/>
  </wsdl:message>
  <wsdl:message name="RequestProductUnBlockSoapOut">
    <wsdl:part name="parameters" element="tns:RequestProductUnBlockResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAutoloadActivityReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetAutoloadActivityReport"/>
  </wsdl:message>
  <wsdl:message name="GetAutoloadActivityReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetAutoloadActivityReportResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAutoloadThresholdActivitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAutoloadThresholdActivities"/>
  </wsdl:message>
  <wsdl:message name="GetAutoloadThresholdActivitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAutoloadThresholdActivitiesResponse"/>
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetCardTransactions">
      <wsdl:input message="tns:GetCardTransactionsSoapIn"/>
      <wsdl:output message="tns:GetCardTransactionsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCardDetails">
      <wsdl:input message="tns:GetCardDetailsSoapIn"/>
      <wsdl:output message="tns:GetCardDetailsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetCardDetails2">
      <wsdl:input message="tns:GetCardDetails2SoapIn"/>
      <wsdl:output message="tns:GetCardDetails2SoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetTopUpAmounts">
      <wsdl:input message="tns:GetTopUpAmountsSoapIn"/>
      <wsdl:output message="tns:GetTopUpAmountsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetTopUpAmountsForTicketCode">
      <wsdl:input message="tns:GetTopUpAmountsForTicketCodeSoapIn"/>
      <wsdl:output message="tns:GetTopUpAmountsForTicketCodeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPeriodCost">
      <wsdl:input message="tns:GetPeriodCostSoapIn"/>
      <wsdl:output message="tns:GetPeriodCostSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RequestValueThresholdAutoload">
      <wsdl:input message="tns:RequestValueThresholdAutoloadSoapIn"/>
      <wsdl:output message="tns:RequestValueThresholdAutoloadSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RequestPeriodThresholdAutoload">
      <wsdl:input message="tns:RequestPeriodThresholdAutoloadSoapIn"/>
      <wsdl:output message="tns:RequestPeriodThresholdAutoloadSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RequestPurseDirectedAutoload">
      <wsdl:input message="tns:RequestPurseDirectedAutoloadSoapIn"/>
      <wsdl:output message="tns:RequestPurseDirectedAutoloadSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RequestPeriodDirectedAutoload">
      <wsdl:input message="tns:RequestPeriodDirectedAutoloadSoapIn"/>
      <wsdl:output message="tns:RequestPeriodDirectedAutoloadSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RequestCardBlock">
      <wsdl:input message="tns:RequestCardBlockSoapIn"/>
      <wsdl:output message="tns:RequestCardBlockSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RequestProductBlock">
      <wsdl:input message="tns:RequestProductBlockSoapIn"/>
      <wsdl:output message="tns:RequestProductBlockSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RequestCardUnBlock">
      <wsdl:input message="tns:RequestCardUnBlockSoapIn"/>
      <wsdl:output message="tns:RequestCardUnBlockSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RequestProductUnBlock">
      <wsdl:input message="tns:RequestProductUnBlockSoapIn"/>
      <wsdl:output message="tns:RequestProductUnBlockSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetAutoloadActivityReport">
      <wsdl:input message="tns:GetAutoloadActivityReportSoapIn"/>
      <wsdl:output message="tns:GetAutoloadActivityReportSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetAutoloadThresholdActivities">
      <wsdl:input message="tns:GetAutoloadThresholdActivitiesSoapIn"/>
      <wsdl:output message="tns:GetAutoloadThresholdActivitiesSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCardTransactions">
      <soap:operation soapAction="http://cubic.com/GetCardTransactions" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardDetails">
      <soap:operation soapAction="http://cubic.com/GetCardDetails" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardDetails2">
      <soap:operation soapAction="http://cubic.com/GetCardDetails2" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopUpAmounts">
      <soap:operation soapAction="http://cubic.com/GetTopUpAmounts" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopUpAmountsForTicketCode">
      <soap:operation soapAction="http://cubic.com/GetTopUpAmountsForTicketCode" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeriodCost">
      <soap:operation soapAction="http://cubic.com/GetPeriodCost" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestValueThresholdAutoload">
      <soap:operation soapAction="http://cubic.com/RequestValueThresholdAutoload" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPeriodThresholdAutoload">
      <soap:operation soapAction="http://cubic.com/RequestPeriodThresholdAutoload" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPurseDirectedAutoload">
      <soap:operation soapAction="http://cubic.com/RequestPurseDirectedAutoload" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPeriodDirectedAutoload">
      <soap:operation soapAction="http://cubic.com/RequestPeriodDirectedAutoload" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCardBlock">
      <soap:operation soapAction="http://cubic.com/RequestCardBlock" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestProductBlock">
      <soap:operation soapAction="http://cubic.com/RequestProductBlock" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCardUnBlock">
      <soap:operation soapAction="http://cubic.com/RequestCardUnBlock" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestProductUnBlock">
      <soap:operation soapAction="http://cubic.com/RequestProductUnBlock" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoloadActivityReport">
      <soap:operation soapAction="http://cubic.com/GetAutoloadActivityReport" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoloadThresholdActivities">
      <soap:operation soapAction="http://cubic.com/GetAutoloadThresholdActivities" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCardTransactions">
      <soap12:operation soapAction="http://cubic.com/GetCardTransactions" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardDetails">
      <soap12:operation soapAction="http://cubic.com/GetCardDetails" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardDetails2">
      <soap12:operation soapAction="http://cubic.com/GetCardDetails2" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopUpAmounts">
      <soap12:operation soapAction="http://cubic.com/GetTopUpAmounts" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopUpAmountsForTicketCode">
      <soap12:operation soapAction="http://cubic.com/GetTopUpAmountsForTicketCode" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeriodCost">
      <soap12:operation soapAction="http://cubic.com/GetPeriodCost" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestValueThresholdAutoload">
      <soap12:operation soapAction="http://cubic.com/RequestValueThresholdAutoload" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPeriodThresholdAutoload">
      <soap12:operation soapAction="http://cubic.com/RequestPeriodThresholdAutoload" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPurseDirectedAutoload">
      <soap12:operation soapAction="http://cubic.com/RequestPurseDirectedAutoload" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPeriodDirectedAutoload">
      <soap12:operation soapAction="http://cubic.com/RequestPeriodDirectedAutoload" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCardBlock">
      <soap12:operation soapAction="http://cubic.com/RequestCardBlock" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestProductBlock">
      <soap12:operation soapAction="http://cubic.com/RequestProductBlock" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCardUnBlock">
      <soap12:operation soapAction="http://cubic.com/RequestCardUnBlock" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestProductUnBlock">
      <soap12:operation soapAction="http://cubic.com/RequestProductUnBlock" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoloadActivityReport">
      <soap12:operation soapAction="http://cubic.com/GetAutoloadActivityReport" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoloadThresholdActivities">
      <soap12:operation soapAction="http://cubic.com/GetAutoloadThresholdActivities" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://10.16.98.66/openapi/webservice.asmx"/>
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://10.16.98.66/openapi/webservice.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>