DK/Development/Release 1.13.0/BizTalk/INTSTDK002.PubTransBatch/INTSTDK002.PubTrans.Schemas/TopologyDataService/TopologyDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/TopologyDataService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/TopologyDataService" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/TopologyDataService/Imports">
      <xsd:import schemaLocation="TopologyDataService.xsd" namespace="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/TopologyDataService"/>
      <xsd:import schemaLocation="TopologyDataService_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
      <xsd:import schemaLocation="TopologyDataService_1_2_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="TopologyDataService_1_2_3_4.xsd"/>
      <xsd:import schemaLocation="TopologyDataService_1_2.xsd" namespace="http://schemas.pubtrans.hogia.se/webservices/2008/11"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITopologyDataService_GetZones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZones"/>
  </wsdl:message>
  <wsdl:message name="ITopologyDataService_GetZones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZonesResponse"/>
  </wsdl:message>
  <wsdl:message name="ITopologyDataService_GetZones_LicenseFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q1:LicenseFaultDetail" xmlns:q1="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ITopologyDataService_GetZones_ConfigurationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q2:ConfigurationFaultDetail" xmlns:q2="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ITopologyDataService_GetZones_ClientFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q3:ClientFaultDetail" xmlns:q3="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ITopologyDataService_GetZones_RuntimeFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q4:RuntimeFaultDetail" xmlns:q4="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="ITopologyDataService_GetZones_ImplementationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q5:ImplementationFaultDetail" xmlns:q5="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:portType name="ITopologyDataService">
    <wsdl:operation name="GetZones">
      <wsdl:input wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/TopologyDataService/ITopologyDataService/GetZones" message="tns:ITopologyDataService_GetZones_InputMessage"/>
      <wsdl:output wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/TopologyDataService/ITopologyDataService/GetZonesResponse" message="tns:ITopologyDataService_GetZones_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/TopologyDataService/ITopologyDataService/GetZonesLicenseFaultDetailFault" name="LicenseFaultDetailFault" message="tns:ITopologyDataService_GetZones_LicenseFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/TopologyDataService/ITopologyDataService/GetZonesConfigurationFaultDetailFault" name="ConfigurationFaultDetailFault" message="tns:ITopologyDataService_GetZones_ConfigurationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/TopologyDataService/ITopologyDataService/GetZonesClientFaultDetailFault" name="ClientFaultDetailFault" message="tns:ITopologyDataService_GetZones_ClientFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/TopologyDataService/ITopologyDataService/GetZonesRuntimeFaultDetailFault" name="RuntimeFaultDetailFault" message="tns:ITopologyDataService_GetZones_RuntimeFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/TopologyDataService/ITopologyDataService/GetZonesImplementationFaultDetailFault" name="ImplementationFaultDetailFault" message="tns:ITopologyDataService_GetZones_ImplementationFaultDetailFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>