DK/Development/Release 0.6.0/WebResources/Silverlight/CRM.GetBIFFTransactions/CRM.GetBIFFTransactions/Service References/TravelCardService/TravelCard2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://v-dkcrm-utv:4500/CGIXrmTravelCardService/TravelCard.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CGIXrmTravelCard" />
  <xs:element name="GetCardDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardnumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CGIXrmTravelCard" minOccurs="0" name="GetCardDetailsResult" nillable="true" type="q1:GetCardDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardFromCRM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardnumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardFromCRMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CGIXrmTravelCard" minOccurs="0" name="GetCardFromCRMResult" nillable="true" type="q2:GetCRMCardDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardnumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxtrasactions" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datefrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CGIXrmTravelCard" minOccurs="0" name="GetCardTransactionsResult" nillable="true" type="q3:GetCardTransactionsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CGIXrmTravelCard" minOccurs="0" name="GetZoneNamesResult" nillable="true" type="q4:GetZoneNamesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelCardTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="travelcardtransactionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelCardTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CGIXrmTravelCard" minOccurs="0" name="GetTravelCardTransactionsResult" nillable="true" type="q5:GetTravelCardTransactionsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGetOutstandingCharges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardnumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGetOutstandingChargesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CGIXrmTravelCard" minOccurs="0" name="GetGetOutstandingChargesResult" nillable="true" type="q6:GetOutstandingChargesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechargeCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardnumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechargeCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CGIXrmTravelCard" minOccurs="0" name="RechargeCardResult" nillable="true" type="q7:RechargeCardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>