DK/Development/Release 0.6.0/WebResources/Silverlight/CRM.GetBIFFTransactions/CRM.GetBIFFTransactions/Service References/TravelCardService/TravelCard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TravelCard" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://v-dkcrm-utv:4500/CGIXrmTravelCardService/TravelCard.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://v-dkcrm-utv:4500/CGIXrmTravelCardService/TravelCard.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://v-dkcrm-utv:4500/CGIXrmTravelCardService/TravelCard.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CGIXrmTravelCard" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITravelCard_GetCardDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardDetails" />
  </wsdl:message>
  <wsdl:message name="ITravelCard_GetCardDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelCard_GetCardFromCRM_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardFromCRM" />
  </wsdl:message>
  <wsdl:message name="ITravelCard_GetCardFromCRM_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardFromCRMResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelCard_GetCardTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardTransactions" />
  </wsdl:message>
  <wsdl:message name="ITravelCard_GetCardTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelCard_GetZoneNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZoneNames" />
  </wsdl:message>
  <wsdl:message name="ITravelCard_GetZoneNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZoneNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelCard_GetTravelCardTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTravelCardTransactions" />
  </wsdl:message>
  <wsdl:message name="ITravelCard_GetTravelCardTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTravelCardTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelCard_GetGetOutstandingCharges_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGetOutstandingCharges" />
  </wsdl:message>
  <wsdl:message name="ITravelCard_GetGetOutstandingCharges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGetOutstandingChargesResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelCard_RechargeCard_InputMessage">
    <wsdl:part name="parameters" element="tns:RechargeCard" />
  </wsdl:message>
  <wsdl:message name="ITravelCard_RechargeCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechargeCardResponse" />
  </wsdl:message>
  <wsdl:portType name="ITravelCard">
    <wsdl:operation name="GetCardDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelCard/GetCardDetails" message="tns:ITravelCard_GetCardDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelCard/GetCardDetailsResponse" message="tns:ITravelCard_GetCardDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardFromCRM">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelCard/GetCardFromCRM" message="tns:ITravelCard_GetCardFromCRM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelCard/GetCardFromCRMResponse" message="tns:ITravelCard_GetCardFromCRM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelCard/GetCardTransactions" message="tns:ITravelCard_GetCardTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelCard/GetCardTransactionsResponse" message="tns:ITravelCard_GetCardTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZoneNames">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelCard/GetZoneNames" message="tns:ITravelCard_GetZoneNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelCard/GetZoneNamesResponse" message="tns:ITravelCard_GetZoneNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTravelCardTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelCard/GetTravelCardTransactions" message="tns:ITravelCard_GetTravelCardTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelCard/GetTravelCardTransactionsResponse" message="tns:ITravelCard_GetTravelCardTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGetOutstandingCharges">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelCard/GetGetOutstandingCharges" message="tns:ITravelCard_GetGetOutstandingCharges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelCard/GetGetOutstandingChargesResponse" message="tns:ITravelCard_GetGetOutstandingCharges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RechargeCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelCard/RechargeCard" message="tns:ITravelCard_RechargeCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelCard/RechargeCardResponse" message="tns:ITravelCard_RechargeCard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITravelCard" type="tns:ITravelCard">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCardDetails">
      <soap:operation soapAction="http://tempuri.org/ITravelCard/GetCardDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardFromCRM">
      <soap:operation soapAction="http://tempuri.org/ITravelCard/GetCardFromCRM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardTransactions">
      <soap:operation soapAction="http://tempuri.org/ITravelCard/GetCardTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZoneNames">
      <soap:operation soapAction="http://tempuri.org/ITravelCard/GetZoneNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelCardTransactions">
      <soap:operation soapAction="http://tempuri.org/ITravelCard/GetTravelCardTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGetOutstandingCharges">
      <soap:operation soapAction="http://tempuri.org/ITravelCard/GetGetOutstandingCharges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechargeCard">
      <soap:operation soapAction="http://tempuri.org/ITravelCard/RechargeCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TravelCard">
    <wsdl:port name="BasicHttpBinding_ITravelCard" binding="tns:BasicHttpBinding_ITravelCard">
      <soap:address location="http://v-dkcrm-utv:4500/CGIXrmTravelCardService/TravelCard.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>