CRM/B2B/Skanetrafiken.Crm/Service References/OCTest.Kassagirot/CouponCreatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.web.couponcreator.kuponginlosen.se/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" name="CouponCreatorService" targetNamespace="http://service.web.couponcreator.kuponginlosen.se/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.web.couponcreator.kuponginlosen.se/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="createCouponForPrinting" type="tns:createCouponForPrinting" />
      <xs:element name="createCouponForPrintingResponse" type="tns:createCouponForPrintingResponse" />
      <xs:element name="createMobileCoupon" type="tns:createMobileCoupon" />
      <xs:element name="createMobileCouponResponse" type="tns:createMobileCouponResponse" />
      <xs:element name="createUniqueCoupon" type="tns:createUniqueCoupon" />
      <xs:element name="createUniqueCouponBatch" type="tns:createUniqueCouponBatch" />
      <xs:element name="createUniqueCouponBatchResponse" type="tns:createUniqueCouponBatchResponse" />
      <xs:element name="createUniqueCouponResponse" type="tns:createUniqueCouponResponse" />
      <xs:element name="createUniqueCouponWithEanCode" type="tns:createUniqueCouponWithEanCode" />
      <xs:element name="createUniqueCouponWithEanCodeResponse" type="tns:createUniqueCouponWithEanCodeResponse" />
      <xs:element name="getHeartbeat" type="tns:getHeartbeat" />
      <xs:element name="getHeartbeatResponse" type="tns:getHeartbeatResponse" />
      <xs:complexType name="createUniqueCouponBatch">
        <xs:sequence>
          <xs:element minOccurs="0" name="campaignNumberBatchRequest" type="tns:campaignNumberBatchRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="campaignNumberBatchRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:campaignNumberRequest">
            <xs:sequence>
              <xs:element name="quantity" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="campaignNumberRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractRequest">
            <xs:sequence>
              <xs:element name="campaignNumber" type="xs:int" />
              <xs:element name="amount" type="xs:decimal" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractRequest" abstract="true">
        <xs:sequence>
          <xs:element name="validityInDays" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createUniqueCouponBatchResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:batchResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="batchResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="fileName" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractResponse" abstract="true">
        <xs:sequence>
          <xs:element name="eanCode" type="xs:long" />
          <xs:element minOccurs="0" name="lastRedemptionDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createUniqueCoupon">
        <xs:sequence>
          <xs:element minOccurs="0" name="campaignNumberRequest" type="tns:campaignNumberRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createUniqueCouponResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:singleResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="singleResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="uniqueCode" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="createMobileCoupon">
        <xs:sequence>
          <xs:element minOccurs="0" name="campaignNumberRequest" type="tns:campaignNumberRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createMobileCouponResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:singleResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createCouponForPrinting">
        <xs:sequence>
          <xs:element minOccurs="0" name="campaignNumberRequestWithAddress" type="tns:campaignNumberRequestWithAddress" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="campaignNumberRequestWithAddress">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:campaignNumberRequest">
            <xs:sequence>
              <xs:element name="firstName" type="xs:string" />
              <xs:element name="familyName" type="xs:string" />
              <xs:element name="socialSecurityNumber" type="xs:string" />
              <xs:element name="street" type="xs:string" />
              <xs:element name="streetNumber" type="xs:int" />
              <xs:element minOccurs="0" name="coAddress" type="xs:string" />
              <xs:element name="zipCode" type="xs:int" />
              <xs:element name="city" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="createCouponForPrintingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:couponForPrintingResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="couponForPrintingResponse">
        <xs:sequence>
          <xs:element name="referenceNumber" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getHeartbeat">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getHeartbeatResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createUniqueCouponWithEanCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="eanCodeRequest" type="tns:eanCodeRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eanCodeRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractRequest">
            <xs:sequence>
              <xs:element name="eanCode" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="createUniqueCouponWithEanCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:singleResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidConfiguration" type="tns:InvalidConfiguration" />
      <xs:complexType name="InvalidConfiguration">
        <xs:sequence>
          <xs:element name="errorCode" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InternalError" type="tns:InternalError" />
      <xs:complexType name="InternalError">
        <xs:sequence>
          <xs:element name="errorCode" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidAmount" type="tns:InvalidAmount" />
      <xs:complexType name="InvalidAmount">
        <xs:sequence>
          <xs:element name="errorCode" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidCampaign" type="tns:InvalidCampaign" />
      <xs:complexType name="InvalidCampaign">
        <xs:sequence>
          <xs:element name="errorCode" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="NoUniqueCodeCreated" type="tns:NoUniqueCodeCreated" />
      <xs:complexType name="NoUniqueCodeCreated">
        <xs:sequence>
          <xs:element name="errorCode" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidField" type="tns:InvalidField" />
      <xs:complexType name="InvalidField">
        <xs:sequence>
          <xs:element name="errorCode" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidEanCode" type="tns:InvalidEanCode" />
      <xs:complexType name="InvalidEanCode">
        <xs:sequence>
          <xs:element name="errorCode" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="createMobileCouponResponse">
    <wsdl:part name="parameters" element="tns:createMobileCouponResponse" />
  </wsdl:message>
  <wsdl:message name="createUniqueCouponBatch">
    <wsdl:part name="parameters" element="tns:createUniqueCouponBatch" />
  </wsdl:message>
  <wsdl:message name="getHeartbeat">
    <wsdl:part name="parameters" element="tns:getHeartbeat" />
  </wsdl:message>
  <wsdl:message name="createUniqueCouponResponse">
    <wsdl:part name="parameters" element="tns:createUniqueCouponResponse" />
  </wsdl:message>
  <wsdl:message name="createCouponForPrintingResponse">
    <wsdl:part name="parameters" element="tns:createCouponForPrintingResponse" />
  </wsdl:message>
  <wsdl:message name="EanCodeException">
    <wsdl:part name="EanCodeException" element="tns:InvalidEanCode" />
  </wsdl:message>
  <wsdl:message name="createMobileCoupon">
    <wsdl:part name="parameters" element="tns:createMobileCoupon" />
  </wsdl:message>
  <wsdl:message name="CampaignException">
    <wsdl:part name="CampaignException" element="tns:InvalidCampaign" />
  </wsdl:message>
  <wsdl:message name="AmountException">
    <wsdl:part name="AmountException" element="tns:InvalidAmount" />
  </wsdl:message>
  <wsdl:message name="createUniqueCouponWithEanCode">
    <wsdl:part name="parameters" element="tns:createUniqueCouponWithEanCode" />
  </wsdl:message>
  <wsdl:message name="DatabaseException">
    <wsdl:part name="DatabaseException" element="tns:InternalError" />
  </wsdl:message>
  <wsdl:message name="ConfigurationException">
    <wsdl:part name="ConfigurationException" element="tns:InvalidConfiguration" />
  </wsdl:message>
  <wsdl:message name="createUniqueCoupon">
    <wsdl:part name="parameters" element="tns:createUniqueCoupon" />
  </wsdl:message>
  <wsdl:message name="UniqueCodeException">
    <wsdl:part name="UniqueCodeException" element="tns:NoUniqueCodeCreated" />
  </wsdl:message>
  <wsdl:message name="createUniqueCouponBatchResponse">
    <wsdl:part name="parameters" element="tns:createUniqueCouponBatchResponse" />
  </wsdl:message>
  <wsdl:message name="getHeartbeatResponse">
    <wsdl:part name="parameters" element="tns:getHeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="createCouponForPrinting">
    <wsdl:part name="parameters" element="tns:createCouponForPrinting" />
  </wsdl:message>
  <wsdl:message name="createUniqueCouponWithEanCodeResponse">
    <wsdl:part name="parameters" element="tns:createUniqueCouponWithEanCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IncorrectValueException">
    <wsdl:part name="IncorrectValueException" element="tns:InvalidField" />
  </wsdl:message>
  <wsdl:portType name="CouponCreatorService">
    <wsdl:operation name="createUniqueCouponBatch">
      <wsdl:input name="createUniqueCouponBatch" message="tns:createUniqueCouponBatch" />
      <wsdl:output name="createUniqueCouponBatchResponse" message="tns:createUniqueCouponBatchResponse" />
      <wsdl:fault name="UniqueCodeException" message="tns:UniqueCodeException" />
      <wsdl:fault name="CampaignException" message="tns:CampaignException" />
      <wsdl:fault name="AmountException" message="tns:AmountException" />
      <wsdl:fault name="ConfigurationException" message="tns:ConfigurationException" />
      <wsdl:fault name="DatabaseException" message="tns:DatabaseException" />
    </wsdl:operation>
    <wsdl:operation name="createUniqueCoupon">
      <wsdl:input name="createUniqueCoupon" message="tns:createUniqueCoupon" />
      <wsdl:output name="createUniqueCouponResponse" message="tns:createUniqueCouponResponse" />
      <wsdl:fault name="UniqueCodeException" message="tns:UniqueCodeException" />
      <wsdl:fault name="CampaignException" message="tns:CampaignException" />
      <wsdl:fault name="AmountException" message="tns:AmountException" />
      <wsdl:fault name="ConfigurationException" message="tns:ConfigurationException" />
      <wsdl:fault name="DatabaseException" message="tns:DatabaseException" />
    </wsdl:operation>
    <wsdl:operation name="createMobileCoupon">
      <wsdl:input name="createMobileCoupon" message="tns:createMobileCoupon" />
      <wsdl:output name="createMobileCouponResponse" message="tns:createMobileCouponResponse" />
      <wsdl:fault name="UniqueCodeException" message="tns:UniqueCodeException" />
      <wsdl:fault name="CampaignException" message="tns:CampaignException" />
      <wsdl:fault name="AmountException" message="tns:AmountException" />
      <wsdl:fault name="ConfigurationException" message="tns:ConfigurationException" />
      <wsdl:fault name="DatabaseException" message="tns:DatabaseException" />
    </wsdl:operation>
    <wsdl:operation name="createCouponForPrinting">
      <wsdl:input name="createCouponForPrinting" message="tns:createCouponForPrinting" />
      <wsdl:output name="createCouponForPrintingResponse" message="tns:createCouponForPrintingResponse" />
      <wsdl:fault name="IncorrectValueException" message="tns:IncorrectValueException" />
      <wsdl:fault name="CampaignException" message="tns:CampaignException" />
      <wsdl:fault name="AmountException" message="tns:AmountException" />
      <wsdl:fault name="ConfigurationException" message="tns:ConfigurationException" />
      <wsdl:fault name="DatabaseException" message="tns:DatabaseException" />
    </wsdl:operation>
    <wsdl:operation name="getHeartbeat">
      <wsdl:input name="getHeartbeat" message="tns:getHeartbeat" />
      <wsdl:output name="getHeartbeatResponse" message="tns:getHeartbeatResponse" />
    </wsdl:operation>
    <wsdl:operation name="createUniqueCouponWithEanCode">
      <wsdl:input name="createUniqueCouponWithEanCode" message="tns:createUniqueCouponWithEanCode" />
      <wsdl:output name="createUniqueCouponWithEanCodeResponse" message="tns:createUniqueCouponWithEanCodeResponse" />
      <wsdl:fault name="EanCodeException" message="tns:EanCodeException" />
      <wsdl:fault name="UniqueCodeException" message="tns:UniqueCodeException" />
      <wsdl:fault name="CampaignException" message="tns:CampaignException" />
      <wsdl:fault name="AmountException" message="tns:AmountException" />
      <wsdl:fault name="ConfigurationException" message="tns:ConfigurationException" />
      <wsdl:fault name="DatabaseException" message="tns:DatabaseException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CouponCreatorServiceSoapBinding" type="tns:CouponCreatorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createUniqueCouponBatch">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createUniqueCouponBatch">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createUniqueCouponBatchResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UniqueCodeException">
        <soap:fault use="literal" name="UniqueCodeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CampaignException">
        <soap:fault use="literal" name="CampaignException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AmountException">
        <soap:fault use="literal" name="AmountException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConfigurationException">
        <soap:fault use="literal" name="ConfigurationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DatabaseException">
        <soap:fault use="literal" name="DatabaseException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createMobileCoupon">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createMobileCoupon">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createMobileCouponResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UniqueCodeException">
        <soap:fault use="literal" name="UniqueCodeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CampaignException">
        <soap:fault use="literal" name="CampaignException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AmountException">
        <soap:fault use="literal" name="AmountException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConfigurationException">
        <soap:fault use="literal" name="ConfigurationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DatabaseException">
        <soap:fault use="literal" name="DatabaseException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUniqueCoupon">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createUniqueCoupon">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createUniqueCouponResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UniqueCodeException">
        <soap:fault use="literal" name="UniqueCodeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CampaignException">
        <soap:fault use="literal" name="CampaignException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AmountException">
        <soap:fault use="literal" name="AmountException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConfigurationException">
        <soap:fault use="literal" name="ConfigurationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DatabaseException">
        <soap:fault use="literal" name="DatabaseException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCouponForPrinting">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createCouponForPrinting">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createCouponForPrintingResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="IncorrectValueException">
        <soap:fault use="literal" name="IncorrectValueException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CampaignException">
        <soap:fault use="literal" name="CampaignException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AmountException">
        <soap:fault use="literal" name="AmountException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConfigurationException">
        <soap:fault use="literal" name="ConfigurationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DatabaseException">
        <soap:fault use="literal" name="DatabaseException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHeartbeat">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getHeartbeat">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getHeartbeatResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUniqueCouponWithEanCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createUniqueCouponWithEanCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createUniqueCouponWithEanCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EanCodeException">
        <soap:fault use="literal" name="EanCodeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UniqueCodeException">
        <soap:fault use="literal" name="UniqueCodeException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CampaignException">
        <soap:fault use="literal" name="CampaignException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AmountException">
        <soap:fault use="literal" name="AmountException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ConfigurationException">
        <soap:fault use="literal" name="ConfigurationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DatabaseException">
        <soap:fault use="literal" name="DatabaseException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CouponCreatorService">
    <wsdl:port name="CouponCreatorServicePort" binding="tns:CouponCreatorServiceSoapBinding">
      <soap:address location="http://octest.kassagirot.se/couponcreator-web/services/CouponCreatorService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>