DK/Development/Release 1.3.0/Plugins/SkanetrafikenPlugins/SkanetrafikenPlugins/Web References/CreateGiftcardService/CreateGiftCard.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.skanetrafiken.com/DK/INTSTDK008/CreateGiftCardRequest/2014-11-03" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" elementFormDefault="qualified" targetNamespace="http://www.skanetrafiken.com/DK/INTSTDK008/CreateGiftCardRequest/2014-11-03" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateGiftCardRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampaignTrackingCode" type="xs:string" />
        <xs:element minOccurs="0" name="Sum" type="xs:decimal" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:string" />
        <xs:element minOccurs="0" name="Currency" type="xs:string" />
        <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>