DK/Development/CRM2016 Upgrade 1.0/Plugins/SkanetrafikenPlugins/SkanetrafikenPlugins/Service References/RechargeCardService/RechargeCard21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:b="http://schemas.microsoft.com/BizTalk/2003" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.skanetrafiken.com/DK/INTSTDK008.Card/RechargeCardResponse/20150310" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RechargeCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Success" type="xs:boolean" />
        <xs:element minOccurs="0" name="Message" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMessage" type="xs:string" />
        <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>