DK/Development/Release 1.13.0/WCF/CGIXrmExtConnectorService/CGIXrmExtConnectorService/Service References/SvcCallsForServiceJourney/CallsForServiceJourney2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://www.skanestrafiken.com/DK/INTSTDK001/GetCallsForServiceJourney/20141020" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCallsforServiceJourney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="forServiceJourneyIdOrGid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="atOperatingDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="atStopGid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeArrivalsTable" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeDeparturesTable" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeDeviationTables" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>