DK/Development/Release/CRM2016 Upgrade 1.0_2019.02.01.1/BizTalk/INTSTDK003.CrmRealTime/INTSTDK003.CRM.Schemas/Customer_TravelCard/PortalService_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PortalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="PortalService.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="PortalService_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="PortalService_1_2.xsd" namespace="http://schemas.datacontract.org/2004/07/CGICRMPortalService.Models"/>
      <xsd:import schemaLocation="PortalService_1_2_3.xsd" namespace="http://schemas.datacontract.org/2004/07/CGICRMPortalService"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPortalService_CheckCustomerExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCustomerExist"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_CheckCustomerExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCustomerExistResponse"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_RegisterTravelCard_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTravelCard"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_RegisterTravelCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTravelCardResponse"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_UpdateTravelCard_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTravelCard"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_UpdateTravelCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTravelCardResponse"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_GetCardsForCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardsForCustomer"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_GetCardsForCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardsForCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_UnregisterTravelCard_InputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterTravelCard"/>
  </wsdl:message>
  <wsdl:message name="IPortalService_UnregisterTravelCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterTravelCardResponse"/>
  </wsdl:message>
  <wsdl:portType name="IPortalService">
    <wsdl:operation name="CheckCustomerExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortalService/CheckCustomerExist" message="tns:IPortalService_CheckCustomerExist_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPortalService/CheckCustomerExistResponse" message="tns:IPortalService_CheckCustomerExist_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortalService/CreateCustomer" message="tns:IPortalService_CreateCustomer_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPortalService/CreateCustomerResponse" message="tns:IPortalService_CreateCustomer_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortalService/GetCustomer" message="tns:IPortalService_GetCustomer_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPortalService/GetCustomerResponse" message="tns:IPortalService_GetCustomer_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortalService/UpdateCustomer" message="tns:IPortalService_UpdateCustomer_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPortalService/UpdateCustomerResponse" message="tns:IPortalService_UpdateCustomer_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RegisterTravelCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortalService/RegisterTravelCard" message="tns:IPortalService_RegisterTravelCard_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPortalService/RegisterTravelCardResponse" message="tns:IPortalService_RegisterTravelCard_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateTravelCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortalService/UpdateTravelCard" message="tns:IPortalService_UpdateTravelCard_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPortalService/UpdateTravelCardResponse" message="tns:IPortalService_UpdateTravelCard_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetCardsForCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortalService/GetCardsForCustomer" message="tns:IPortalService_GetCardsForCustomer_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPortalService/GetCardsForCustomerResponse" message="tns:IPortalService_GetCardsForCustomer_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="UnregisterTravelCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortalService/UnregisterTravelCard" message="tns:IPortalService_UnregisterTravelCard_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IPortalService/UnregisterTravelCardResponse" message="tns:IPortalService_UnregisterTravelCard_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPortalService" type="tns:IPortalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CheckCustomerExist">
      <soap:operation soapAction="http://tempuri.org/IPortalService/CheckCustomerExist" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/IPortalService/CreateCustomer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/IPortalService/GetCustomer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/IPortalService/UpdateCustomer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterTravelCard">
      <soap:operation soapAction="http://tempuri.org/IPortalService/RegisterTravelCard" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTravelCard">
      <soap:operation soapAction="http://tempuri.org/IPortalService/UpdateTravelCard" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardsForCustomer">
      <soap:operation soapAction="http://tempuri.org/IPortalService/GetCardsForCustomer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterTravelCard">
      <soap:operation soapAction="http://tempuri.org/IPortalService/UnregisterTravelCard" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortalService">
    <wsdl:port name="BasicHttpBinding_IPortalService" binding="tns:BasicHttpBinding_IPortalService">
      <soap:address location="http://v-dkcrm-utv:4002/PortalService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>