DK/Development/Hotfix 1.3.1/WebResources/Silverlight/CRM.GetOrders/CRM.GetOrders/Service References/GetOrdersServiceReference/GetOrdersService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://v-dkcrm-acc:4500/CGIXrmGetOrdersService/GetOrdersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CGIXrmGetOrders" />
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CGIXrmGetOrders" minOccurs="0" name="GetOrdersResult" nillable="true" type="q1:GetOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CGIXrmGetOrders" minOccurs="0" name="request" nillable="true" type="q2:CreditOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CGIXrmGetOrders" minOccurs="0" name="CreditOrderResult" nillable="true" type="q3:GetCreditOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSavedCreditOrderRows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countactid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSavedCreditOrderRowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CGIXrmGetOrders" minOccurs="0" name="GetSavedCreditOrderRowsResult" nillable="true" type="q4:SavedCreditOrderRowsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>