DK/Development/Release 0.6.0/Plugins/CRM2013.SkanetrafikenPlugins/CRM2013.SkanetrafikenPlugins/Service References/CreateEmailCouponService/CreateEmailCoupon1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:b="http://schemas.microsoft.com/BizTalk/2003" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.skanetrafiken.com/DK/INTSTDK008/CreateEmailCouponResponse/20150811" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateEmailCouponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderNumber" type="xs:string" />
        <xs:element minOccurs="0" name="OrderCreated" type="xs:boolean" />
        <xs:element minOccurs="0" name="Message" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMessage" type="xs:string" />
        <xs:element minOccurs="0" name="StatusCode" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>