DK/Development/Mitt Konto 1.0/Plugins/SkanetrafikenPlugins/SkanetrafikenPlugins/Web References/CreateGiftcardService/CreateGiftCard0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://INTSTDK008.STIP.Schemas.CreateGiftCardResponse" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://www.skanetrafiken.com/DK/INTSTDK008/CreateGiftCardResponse/20141103" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateGiftCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Code" type="xs:string" />
        <xs:element minOccurs="0" name="CampaignTrackingCode" type="xs:string" />
        <xs:element minOccurs="0" name="Sum" type="xs:decimal" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:string" />
        <xs:element minOccurs="0" name="Currency" type="xs:string" />
        <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ErrorMessage" type="xs:string" />
        <xs:element minOccurs="0" name="StatusCode" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>