DK/Development/Release 1.4.5/WebResources/Silverlight/CRM.Travel.Information/CRM.Travel.Information/Service References/PubTrans/ExtConnectorService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfZone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Zone" nillable="true" type="tns:Zone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZone" nillable="true" type="tns:ArrayOfZone" />
  <xs:complexType name="Zone">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lines" nillable="true" type="tns:ArrayOfLine" />
      <xs:element minOccurs="0" name="ZoneExistsFromDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneTransportAuthorityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zone" nillable="true" type="tns:Zone" />
  <xs:complexType name="ArrayOfLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Line" nillable="true" type="tns:Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLine" nillable="true" type="tns:ArrayOfLine" />
  <xs:complexType name="Line">
    <xs:sequence>
      <xs:element minOccurs="0" name="LineDesignation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineDisplayOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineExistsFromDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineExistsUpToDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineOperatorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineTransportAuthorityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopAreas" nillable="true" type="tns:ArrayOfStopArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Line" nillable="true" type="tns:Line" />
  <xs:complexType name="ArrayOfStopArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StopArea" nillable="true" type="tns:StopArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStopArea" nillable="true" type="tns:ArrayOfStopArea" />
  <xs:complexType name="StopArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="StopAreaGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopAreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopAreaShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopExistsFromDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopExistsUptoDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UptoStopAreas" nillable="true" type="tns:ArrayOfStopArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StopArea" nillable="true" type="tns:StopArea" />
  <xs:complexType name="GetDirectJourneysBetweenStopsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalDeviations" nillable="true" type="tns:ArrayOfArrivalDeviation" />
      <xs:element minOccurs="0" name="DepartureDeviations" nillable="true" type="tns:ArrayOfDepartureDeviation" />
      <xs:element minOccurs="0" name="DeviationMessageVariants" nillable="true" type="tns:ArrayOfDeviationMessageVariant" />
      <xs:element minOccurs="0" name="DeviationMessageVersions" nillable="true" type="tns:ArrayOfDeviationMessageVersion" />
      <xs:element minOccurs="0" name="DirectJourneysBetweenStops" nillable="true" type="tns:ArrayOfDirectJourneyBetweenStops" />
      <xs:element minOccurs="0" name="ServiceJourneyDeviations" nillable="true" type="tns:ArrayOfServiceJourneyDeviation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDirectJourneysBetweenStopsResponse" nillable="true" type="tns:GetDirectJourneysBetweenStopsResponse" />
  <xs:complexType name="ArrayOfArrivalDeviation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrivalDeviation" nillable="true" type="tns:ArrivalDeviation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrivalDeviation" nillable="true" type="tns:ArrayOfArrivalDeviation" />
  <xs:complexType name="ArrivalDeviation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AffectsPreviousDepartures" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConsequenceLongCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasDeviationMessageVersionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnArrivalId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrivalDeviation" nillable="true" type="tns:ArrivalDeviation" />
  <xs:complexType name="ArrayOfDepartureDeviation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartureDeviation" nillable="true" type="tns:DepartureDeviation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartureDeviation" nillable="true" type="tns:ArrayOfDepartureDeviation" />
  <xs:complexType name="DepartureDeviation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AffectsLaterArrivalsYesNo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConsequenceLongCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasDeviationMessageVersionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnDepartureId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicNote" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartureDeviation" nillable="true" type="tns:DepartureDeviation" />
  <xs:complexType name="ArrayOfDeviationMessageVariant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviationMessageVariant" nillable="true" type="tns:DeviationMessageVariant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviationMessageVariant" nillable="true" type="tns:ArrayOfDeviationMessageVariant" />
  <xs:complexType name="DeviationMessageVariant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentTypeLongCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPartOfDeviationMessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LanguageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsageTypeLongCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviationMessageVariant" nillable="true" type="tns:DeviationMessageVariant" />
  <xs:complexType name="ArrayOfDeviationMessageVersion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviationMessageVersion" nillable="true" type="tns:DeviationMessageVersion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviationMessageVersion" nillable="true" type="tns:ArrayOfDeviationMessageVersion" />
  <xs:complexType name="DeviationMessageVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternalNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriorityImportanceLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriorityInfluenceLevel" type="xs:int" />
      <xs:element minOccurs="0" name="PriorityUrgencyLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAudienceCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAudiencePassenger" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAudienceStaff" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviationMessageVersion" nillable="true" type="tns:DeviationMessageVersion" />
  <xs:complexType name="ArrayOfDirectJourneyBetweenStops">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectJourneyBetweenStops" nillable="true" type="tns:DirectJourneyBetweenStops" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectJourneyBetweenStops" nillable="true" type="tns:ArrayOfDirectJourneyBetweenStops" />
  <xs:complexType name="DirectJourneyBetweenStops">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalDeviationMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalSequenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivesToStopPostringGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivesToStopPostringGid1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractorGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatedVehicleJourneyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureDeviationMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureSequenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureStopPostringGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirectionOfLineDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpectedToBeMonitored" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasArrivalDeviation" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasDepartureDeviation" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasServiceJourneyDeviation" type="xs:boolean" />
      <xs:element minOccurs="0" name="JourneyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineDesignation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservedArrivalDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ObservedDepartureDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperatingDayDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginPlaceGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlannedArrivalDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlannedDepartureDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PrimaryDestinationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryDestinationPlaceGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryShortDestinationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryDestinationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryDestinationPlaceGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryDestinationShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceJourneyDeviationMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceJourneyGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDepartureDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TargetDepartureStopPostringGid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectJourneyBetweenStops" nillable="true" type="tns:DirectJourneyBetweenStops" />
  <xs:complexType name="ArrayOfServiceJourneyDeviation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceJourneyDeviation" nillable="true" type="tns:ServiceJourneyDeviation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceJourneyDeviation" nillable="true" type="tns:ArrayOfServiceJourneyDeviation" />
  <xs:complexType name="ServiceJourneyDeviation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsequenceLongCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasDeviationMessageVersionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnDatedVehicleJourneyId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceJourneyDeviation" nillable="true" type="tns:ServiceJourneyDeviation" />
  <xs:complexType name="CallsForServiceJourneyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalDeviations" nillable="true" type="tns:ArrayOfArrivalDeviation1" />
      <xs:element minOccurs="0" name="DatedArrivals" nillable="true" type="tns:ArrayOfDatedArrival" />
      <xs:element minOccurs="0" name="DatedDepartures" nillable="true" type="tns:ArrayOfDatedDeparture" />
      <xs:element minOccurs="0" name="DatedServiceJourneys" nillable="true" type="tns:ArrayOfDatedServiceJourney" />
      <xs:element minOccurs="0" name="DepartureDeviations" nillable="true" type="tns:ArrayOfDepartureDeviation1" />
      <xs:element minOccurs="0" name="DeviationMessageVariants" nillable="true" type="tns:ArrayOfDeviationMessageVariant1" />
      <xs:element minOccurs="0" name="DeviationMessageVersions" nillable="true" type="tns:ArrayOfDeviationMessageVersion1" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceJourneyDeviations" nillable="true" type="tns:ArrayOfServiceJourneyDeviation1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallsForServiceJourneyResponse" nillable="true" type="tns:CallsForServiceJourneyResponse" />
  <xs:complexType name="ArrayOfArrivalDeviation1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrivalDeviation1" nillable="true" type="tns:ArrivalDeviation1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrivalDeviation1" nillable="true" type="tns:ArrayOfArrivalDeviation1" />
  <xs:complexType name="ArrivalDeviation1">
    <xs:sequence>
      <xs:element minOccurs="0" name="AffectsPreviousDepartures" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConsequenceLongCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasDeviationMessageVersionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnArrivalId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrivalDeviation1" nillable="true" type="tns:ArrivalDeviation1" />
  <xs:complexType name="ArrayOfDatedArrival">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatedArrival" nillable="true" type="tns:DatedArrival" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatedArrival" nillable="true" type="tns:ArrayOfDatedArrival" />
  <xs:complexType name="DatedArrival">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstimatedDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnDatedServiceJourneyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTargetedAtJourneyPatternPointGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTimetabledAtJourneyPatternPointGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JourneyPatternSequenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservedDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PresentationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimetabledEarliestDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WasObservedAtJourneyPatternPointGid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatedArrival" nillable="true" type="tns:DatedArrival" />
  <xs:complexType name="ArrayOfDatedDeparture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatedDeparture" nillable="true" type="tns:DatedDeparture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatedDeparture" nillable="true" type="tns:ArrayOfDatedDeparture" />
  <xs:complexType name="DatedDeparture">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstimatedDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnDatedServiceJourneyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTargetedAtJourneyPatternPointGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTimetabledAtJourneyPatternPointGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JourneyPatternSequenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineDesignation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservedDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PresentationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryDestinationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryDestinationShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryDestinationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryDestinationShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryDestinationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SymbolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimetabledEarliestDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WasObservedAtJourneyPatternPointGid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatedDeparture" nillable="true" type="tns:DatedDeparture" />
  <xs:complexType name="ArrayOfDatedServiceJourney">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatedServiceJourney" nillable="true" type="tns:DatedServiceJourney" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatedServiceJourney" nillable="true" type="tns:ArrayOfDatedServiceJourney" />
  <xs:complexType name="DatedServiceJourney">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpectedToBeMonitored" type="xs:boolean" />
      <xs:element minOccurs="0" name="Gid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAssignedToVehicleGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDatedVehicleJourneyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsWorkedOnDirectionOfLineGid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineDesignation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatingDayDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PredictionState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransportAuthorityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransportAuthorityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransportModeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatedServiceJourney" nillable="true" type="tns:DatedServiceJourney" />
  <xs:complexType name="ArrayOfDepartureDeviation1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartureDeviation1" nillable="true" type="tns:DepartureDeviation1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartureDeviation1" nillable="true" type="tns:ArrayOfDepartureDeviation1" />
  <xs:complexType name="DepartureDeviation1">
    <xs:sequence>
      <xs:element minOccurs="0" name="AffectsLaterArrivalsYesNo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConsequenceLongCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasDeviationMessageVersionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnDepartureId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicNote" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartureDeviation1" nillable="true" type="tns:DepartureDeviation1" />
  <xs:complexType name="ArrayOfDeviationMessageVariant1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviationMessageVariant1" nillable="true" type="tns:DeviationMessageVariant1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviationMessageVariant1" nillable="true" type="tns:ArrayOfDeviationMessageVariant1" />
  <xs:complexType name="DeviationMessageVariant1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentTypeLongCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPartOfDeviationMessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LanguageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsageTypeLongCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviationMessageVariant1" nillable="true" type="tns:DeviationMessageVariant1" />
  <xs:complexType name="ArrayOfDeviationMessageVersion1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviationMessageVersion1" nillable="true" type="tns:DeviationMessageVersion1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviationMessageVersion1" nillable="true" type="tns:ArrayOfDeviationMessageVersion1" />
  <xs:complexType name="DeviationMessageVersion1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternalNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriorityImportanceLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriorityInfluenceLevel" type="xs:int" />
      <xs:element minOccurs="0" name="PriorityUrgencyLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAudienceCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAudiencePassenger" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetAudienceStaff" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviationMessageVersion1" nillable="true" type="tns:DeviationMessageVersion1" />
  <xs:complexType name="ArrayOfServiceJourneyDeviation1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceJourneyDeviation1" nillable="true" type="tns:ServiceJourneyDeviation1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceJourneyDeviation1" nillable="true" type="tns:ArrayOfServiceJourneyDeviation1" />
  <xs:complexType name="ServiceJourneyDeviation1">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsequenceLongCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasDeviationMessageVersionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnDatedVehicleJourneyId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceJourneyDeviation1" nillable="true" type="tns:ServiceJourneyDeviation1" />
  <xs:complexType name="ExtConnectorServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtConnectorServiceFault" nillable="true" type="tns:ExtConnectorServiceFault" />
</xs:schema>