DK/Development/Release 1.13.0/WCF/CGIXrmGetOrders/CGIXrmGetOrders/Web References/GetOrdersServiceReference/Orders.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.skanetrafiken.se/DK/INTSTDK008/GetOrders/20141031" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://www.skanetrafiken.se/DK/INTSTDK008/GetOrders/20141031" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetOrdersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CustomerId" type="xs:string" />
        <xs:element name="OrderNumber" type="xs:string" />
        <xs:element name="From" type="xs:dateTime" />
        <xs:element name="To" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Orders">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="OrderNumber" type="xs:string" />
              <xs:element minOccurs="0" name="OrderStatus" type="xs:string" />
              <xs:element minOccurs="0" name="OrderType" type="xs:string" />
              <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="OrderTotal" type="xs:decimal" />
              <xs:element minOccurs="0" name="OrderTotalVat" type="xs:decimal" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Payments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Code" type="xs:string" />
                    <xs:element minOccurs="0" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" name="Sum" type="xs:decimal" />
                    <xs:element minOccurs="0" name="ReferenceNumber" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItems">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Code" type="xs:string" />
                    <xs:element minOccurs="0" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" name="Quantity" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="Price" type="xs:decimal" />
                    <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>