DK/Development/Hotfix 1.3.1/BizTalk/INTSTDK011.ResegarantiOnlineRealTime/Files/issueservice_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://apirgolutv.int.skanetrafiken.com/issueservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://apirgolutv.int.skanetrafiken.com/issueservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://apirgolutv.int.skanetrafiken.com/issueservice">
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create"/>
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse"/>
  </wsdl:message>
  <wsdl:portType name="IssueServiceSoap">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn"/>
      <wsdl:output message="tns:CreateSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IssueServiceSoap" type="tns:IssueServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://apirgolutv.int.skanetrafiken.com/issueservice/Create" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IssueServiceSoap12" type="tns:IssueServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://apirgolutv.int.skanetrafiken.com/issueservice/Create" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IssueService">
    <wsdl:port name="IssueServiceSoap" binding="tns:IssueServiceSoap">
      <soap:address location="http://apirgolutv.int.skanetrafiken.com/issueservice.asmx"/>
    </wsdl:port>
    <wsdl:port name="IssueServiceSoap12" binding="tns:IssueServiceSoap12">
      <soap12:address location="http://apirgolutv.int.skanetrafiken.com/issueservice.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>