DK/Development/Release 1.10.0/BizTalk/INTSTDK003.CrmRealTime/EAIConnectionService/EAIConnectorService_1_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CGIXrmEAIConnectorService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/CGIXrmEAIConnectorService" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
  <xs:import schemaLocation="EAIConnectorService_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:complexType name="GetCustomerDetailsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCustomerDetailsResponse" nillable="true" type="tns:GetCustomerDetailsResponse"/>
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Status" type="tns:ProcessingStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response"/>
  <xs:simpleType name="ProcessingStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS"/>
      <xs:enumeration value="FAILED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProcessingStatus" nillable="true" type="tns:ProcessingStatus"/>
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element name="AccountFirstName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="AccountId" type="ser:guid"/>
      <xs:element name="AccountLastName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddress"/>
      <xs:element minOccurs="0" name="AllowAutoLoad" type="xs:boolean"/>
      <xs:element name="CompanyName" nillable="true" type="xs:string"/>
      <xs:element name="CustomerType" type="tns:AccountCategoryCode"/>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean"/>
      <xs:element name="Email" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="InActive" type="xs:boolean"/>
      <xs:element minOccurs="0" name="MaxCardsAutoLoad" type="xs:int"/>
      <xs:element name="MobilePhone" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="OrganizationCreditApproved" type="xs:boolean"/>
      <xs:element minOccurs="0" name="OrganizationNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="OrganizationSubNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="SocialSecurtiyNumber" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer"/>
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress"/>
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="AddressType" type="tns:AddressTypeCode"/>
      <xs:element minOccurs="0" name="CareOff" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ContactPhoneNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CustomerAddressId" type="ser:guid"/>
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="SMSNotificationNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address"/>
  <xs:simpleType name="AddressTypeCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Invoice"/>
      <xs:enumeration value="Delivery"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AddressTypeCode" nillable="true" type="tns:AddressTypeCode"/>
  <xs:simpleType name="AccountCategoryCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Private">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Company">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountCategoryCode" nillable="true" type="tns:AccountCategoryCode"/>
  <xs:complexType name="GetCustomerIdForTravelCardResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Details" nillable="true" type="tns:ArrayOfDetail"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCustomerIdForTravelCardResponse" nillable="true" type="tns:GetCustomerIdForTravelCardResponse"/>
  <xs:complexType name="ArrayOfDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Detail" nillable="true" type="tns:Detail"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetail" nillable="true" type="tns:ArrayOfDetail"/>
  <xs:complexType name="Detail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="ser:guid"/>
      <xs:element minOccurs="0" name="TravelCardNumber" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detail" nillable="true" type="tns:Detail"/>
</xs:schema>