DK/Development/Hotfix 1.3.2/BizTalk/INTSTDK008.Card/INTSTDK008.Card.Ehandel.Schemas/SendValueCodeMailRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://INTSTDK008.Card.Ehandel.Schemas.SendValueCodeMailRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SendValueCodeMailRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValueCode" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:string" />
        <xs:element minOccurs="0" name="Email" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>