DK/Development/Release 1.4.0/WebResources/Silverlight/CRM.Travel.Information/CRM.Travel.Information/Service References/PubTrans/ExtConnectorService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://v-dkcrm-tst.int.skanetrafiken.com:4001/ExtConnectorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CGIXrmExtConnectorService" />
  <xs:import schemaLocation="http://v-dkcrm-tst.int.skanetrafiken.com:4001/ExtConnectorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://v-dkcrm-tst.int.skanetrafiken.com:4001/ExtConnectorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="CreateIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CGIXrmExtConnectorService" minOccurs="0" name="createIndexRequest" nillable="true" type="q1:CreateIndexRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CGIXrmExtConnectorService" minOccurs="0" name="CreateIndexResult" nillable="true" type="q2:CreateIndexResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CGIXrmExtConnectorService" minOccurs="0" name="removeIndexRequest" nillable="true" type="q3:RemoveIndexRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CGIXrmExtConnectorService" minOccurs="0" name="RemoveIndexResult" nillable="true" type="q4:RemoveIndexResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStradBusDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStradBusDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetStradBusDetailsResult" nillable="true" type="q5:ArrayOfZone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionBusDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionBusDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetRegionBusDetailsResult" nillable="true" type="q6:ArrayOfLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrainDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetTrainDetailsResult" nillable="true" type="q7:ArrayOfStopArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectJourneys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromStopArea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toStopArea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tripDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="forLineGids" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CGIXrmExtConnectorService" minOccurs="0" name="transportType" type="q8:TransportType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectJourneysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDirectJourneysResult" nillable="true" type="q9:GetDirectJourneysBetweenStopsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallsForServiceJourney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceJourneyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operatingDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="atStopGid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallsForServiceJourneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCallsForServiceJourneyResult" nillable="true" type="q10:CallsForServiceJourneyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganisationalUnits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganisationalUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CGIXrmExtConnectorService" minOccurs="0" name="GetOrganisationalUnitsResult" nillable="true" type="q11:OrganisationalUnitResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CGIXrmExtConnectorService" minOccurs="0" name="GetContractorsResult" nillable="true" type="q12:ContractorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="callguideAgentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetAgentUserIdResult" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>