DK/Development/Release 1.7.0/WCF/CGIXrmGetOrders/CGIXrmGetOrders/Web References/CreditOrderServiceReference/CreditOrders.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.skanetrafiken.se/DK/INTSTDK008/CreditOrder/20141031" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://www.skanetrafiken.se/DK/INTSTDK008/CreditOrder/20141031" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreditOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="orderNumber" type="xs:string" />
        <xs:element name="sum" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditOrderRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Sum" type="xs:decimal" />
        <xs:element minOccurs="0" maxOccurs="1" name="ReferenceNumber" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Success" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>