DK/Development/Release 1.4.5/Plugins/SkanetrafikenPlugins/SkanetrafikenPlugins/Service References/CreateCouponService/CreateCoupon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.skanetrafiken.com/DK/INTSTDK008.Card/CreateCoupon/20150310" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://www.skanetrafiken.com/DK/INTSTDK008.Card/CreateCoupon/20150310" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateCouponRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="Currency" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:string" />
        <xs:element minOccurs="0" name="DistrubutionType" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="Email" type="xs:string" />
        <xs:element minOccurs="0" name="MobilePhone" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCouponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderNumber" type="xs:string" />
        <xs:element minOccurs="0" name="OrderCreated" type="xs:boolean" />
        <xs:element minOccurs="0" name="Message" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMessage" type="xs:string" />
        <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>