DK/Development/Release 1.7.0/BizTalk/INTSTDK001.PubTransRealTime/INTSTDK001.PubTrans.Schemas/External/StopMonitoringService/StopMonitoringService_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices">
  <xs:import schemaLocation="StopMonitoringService_1_2.xsd" namespace="http://schemas.pubtrans.hogia.se/webservices/2008/11"/>
  <xs:complexType name="ImplementationFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:FaultDetail" xmlns:q1="http://schemas.pubtrans.hogia.se/webservices/2008/11">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImplementationFaultDetail" nillable="true" type="tns:ImplementationFaultDetail"/>
  <xs:complexType name="ConfigurationFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="q2:FaultDetail" xmlns:q2="http://schemas.pubtrans.hogia.se/webservices/2008/11">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfigurationFaultDetail" nillable="true" type="tns:ConfigurationFaultDetail"/>
  <xs:complexType name="ClientFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="q3:FaultDetail" xmlns:q3="http://schemas.pubtrans.hogia.se/webservices/2008/11">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientFaultDetail" nillable="true" type="tns:ClientFaultDetail"/>
  <xs:complexType name="RuntimeFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="q4:FaultDetail" xmlns:q4="http://schemas.pubtrans.hogia.se/webservices/2008/11">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RuntimeFaultDetail" nillable="true" type="tns:RuntimeFaultDetail"/>
  <xs:complexType name="LicenseFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="q5:FaultDetail" xmlns:q5="http://schemas.pubtrans.hogia.se/webservices/2008/11">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LicenseFaultDetail" nillable="true" type="tns:LicenseFaultDetail"/>
  <xs:complexType name="NotSupportedFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="q6:FaultDetail" xmlns:q6="http://schemas.pubtrans.hogia.se/webservices/2008/11">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotSupportedFaultDetail" nillable="true" type="tns:NotSupportedFaultDetail"/>
</xs:schema>