DK/Development/Release 1.8.0/WCF/CGIXrmExtConnectorService/CGIXrmExtConnectorService/Service References/SvcDirectJourneyBetweenStops/DirectJourneysBetweenStops1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.skanetrafiken.com/DK/INTSTDK001/GetDirectJourneyBetweenStopsRequest/20141023" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://www.skanetrafiken.com/DK/INTSTDK001/GetDirectJourneyBetweenStopsRequest/20141023" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetDirectJourneysBetweenStops">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromStopAreaGid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toStopAreaGid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="forTimeWindowStartDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="forTimeWindowDuration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="withDepartureMaxCount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="forLineGids" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="forProducts" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="purposeOfLineGroupingCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>