DK/Development/Release 1.9.0/BizTalk/INTSTDK003.CrmRealTime/INTSTDK003.CRM.Schemas/GetCustomerDetails/EAIConnectorService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
  <xs:import schemaLocation="EAIConnectorService_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:import schemaLocation="EAIConnectorService_1_2.xsd" namespace="http://schemas.datacontract.org/2004/07/CGIXrmEAIConnectorService"/>
  <xs:import schemaLocation="EAIConnectorService_1_2_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:element name="GetAgentUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crmuserName" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAgentUserIdResult" type="q1:guid" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="q2:guid" xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/"/>
        <xs:element minOccurs="0" name="customerType" type="q3:AccountCategoryCode" xmlns:q3="http://schemas.datacontract.org/2004/07/CGIXrmEAIConnectorService"/>
        <xs:element minOccurs="0" name="callerId" type="q4:guid" xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerDetailsResult" nillable="true" type="q5:GetCustomerDetailsResponse" xmlns:q5="http://schemas.datacontract.org/2004/07/CGIXrmEAIConnectorService"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerIdForTravelCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="travelCard" nillable="true" type="q6:ArrayOfstring" xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
        <xs:element minOccurs="0" name="callerId" type="q7:guid" xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerIdForTravelCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerIdForTravelCardResult" nillable="true" type="q8:GetCustomerIdForTravelCardResponse" xmlns:q8="http://schemas.datacontract.org/2004/07/CGIXrmEAIConnectorService"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>