CRM/MainAffarsRegler/Skanetrafiken.Crm.Workflow/Web References/StopMonitoringService/StopMonitoringService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pws.st.hogiacloud.se:9980/Pws/StopMonitoringService?xsd=xsd4" namespace="http://schemas.pubtrans.hogia.se/webservices/2008/11" />
  <xs:complexType name="ClientFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.pubtrans.hogia.se/webservices/2008/11" base="q1:FaultDetail">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientFaultDetail" nillable="true" type="tns:ClientFaultDetail" />
  <xs:complexType name="ConfigurationFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.pubtrans.hogia.se/webservices/2008/11" base="q2:FaultDetail">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfigurationFaultDetail" nillable="true" type="tns:ConfigurationFaultDetail" />
  <xs:complexType name="ImplementationFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.pubtrans.hogia.se/webservices/2008/11" base="q3:FaultDetail">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImplementationFaultDetail" nillable="true" type="tns:ImplementationFaultDetail" />
  <xs:complexType name="RuntimeFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.pubtrans.hogia.se/webservices/2008/11" base="q4:FaultDetail">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RuntimeFaultDetail" nillable="true" type="tns:RuntimeFaultDetail" />
  <xs:complexType name="LicenseFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.pubtrans.hogia.se/webservices/2008/11" base="q5:FaultDetail">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LicenseFaultDetail" nillable="true" type="tns:LicenseFaultDetail" />
  <xs:complexType name="NotSupportedFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.pubtrans.hogia.se/webservices/2008/11" base="q6:FaultDetail">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotSupportedFaultDetail" nillable="true" type="tns:NotSupportedFaultDetail" />
</xs:schema>