CRM/MainAffarsRegler/Skanetrafiken.Crm.Workflow/Web References/StopMonitoringService/StopMonitoringService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.pubtrans.hogia.se/webservices/2008/11" elementFormDefault="qualified" targetNamespace="http://schemas.pubtrans.hogia.se/webservices/2008/11" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FaultDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultDetail" nillable="true" type="tns:FaultDetail" />
</xs:schema>