DK/Development/Release 1.1.0/WCF/CGIXrmExtConnectorService/Service References/SvcCallsForServiceJourney/CallsForServiceJourney1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://INTSTDK001.STIP.Schemas.GetCallsForServiceJourneyResponse" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://wwww.skanetrafiken.com/DK/INTSTDK001/GetCallsForServiceJourneyResponse/20141020" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCallsforServiceJourneyMethod">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="DatedServiceJourney">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Id" type="xs:decimal" />
              <xs:element minOccurs="0" name="DatedVehicleJourneyId" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsDatedVehicleJourneyId" type="xs:decimal" />
              <xs:element minOccurs="0" name="OperatingDayDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="Gid" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsWorkedOnDirectionOfLineGid" type="xs:decimal" />
              <xs:element minOccurs="0" name="TransportModeCode" type="xs:string" />
              <xs:element minOccurs="0" name="LineDesignation" type="xs:string" />
              <xs:element minOccurs="0" name="TransportAuthorityCode" type="xs:string" />
              <xs:element minOccurs="0" name="TransportAuthorityName" type="xs:string" />
              <xs:element minOccurs="0" name="ContractorCode" type="xs:string" />
              <xs:element minOccurs="0" name="ContractorName" type="xs:string" />
              <xs:element minOccurs="0" name="ExpectedToBeMonitored" type="xs:boolean" />
              <xs:element minOccurs="0" name="IsAssignedToVehicleGid" type="xs:decimal" />
              <xs:element minOccurs="0" name="State" type="xs:short" />
              <xs:element minOccurs="0" name="PredictionState" type="xs:short" />
              <xs:element minOccurs="0" name="OriginName" type="xs:string" />
              <xs:element minOccurs="0" name="OriginShortName" type="xs:string" />
              <xs:element minOccurs="0" name="ProductCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DatedDeparture">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Id" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsOnDatedServiceJourneyId" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsOnServiceJourneyId" type="xs:decimal" />
              <xs:element minOccurs="0" name="JourneyPatternSequenceNumber" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsTimetabledAtJourneyPatternPointGid" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsTargetedAtJourneyPatternPointGid" type="xs:decimal" />
              <xs:element minOccurs="0" name="WasObservedAtJourneyPatternPointGid" type="xs:decimal" />
              <xs:element minOccurs="0" name="TimetabledEarliestDateTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="TargetDateTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="EstimatedDateTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="ObservedDateTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="State" type="xs:short" />
              <xs:element minOccurs="0" name="Type" type="xs:short" />
              <xs:element minOccurs="0" name="ProductName" type="xs:string" />
              <xs:element minOccurs="0" name="LineDesignation" type="xs:string" />
              <xs:element minOccurs="0" name="PrimaryDestinationName" type="xs:string" />
              <xs:element minOccurs="0" name="PrimaryDestinationShortName" type="xs:string" />
              <xs:element minOccurs="0" name="SecondaryDestinationName" type="xs:string" />
              <xs:element minOccurs="0" name="SecondaryDestinationShortName" type="xs:string" />
              <xs:element minOccurs="0" name="SecondaryDestinationType" type="xs:string" />
              <xs:element minOccurs="0" name="SymbolName" type="xs:string" />
              <xs:element minOccurs="0" name="PresentationType" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DatedArrival">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Id" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsOnDatedServiceJourneyId" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsOnServiceJourneyId" type="xs:decimal" />
              <xs:element minOccurs="0" name="JourneyPatternSequenceNumber" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsTimetabledAtJourneyPatternPointGid" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsTargetedAtJourneyPatternPointGid" type="xs:decimal" />
              <xs:element minOccurs="0" name="WasObservedAtJourneyPatternPointGid" type="xs:decimal" />
              <xs:element minOccurs="0" name="TimetabledLatestDateTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="TargetDateTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="EstimatedDateTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="ObservedDateTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="State" type="xs:short" />
              <xs:element minOccurs="0" name="Type" type="xs:short" />
              <xs:element minOccurs="0" name="PresentationType" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DeviationMessageVersion">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Id" type="xs:decimal" />
              <xs:element minOccurs="0" name="PublicNote" type="xs:string" />
              <xs:element minOccurs="0" name="InternalNote" type="xs:string" />
              <xs:element minOccurs="0" name="PriorityImportanceLevel" type="xs:short" />
              <xs:element minOccurs="0" name="PriorityInfluenceLevel" type="xs:short" />
              <xs:element minOccurs="0" name="PriorityUrgencyLevel" type="xs:short" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DeviationMessageVariant">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Id" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsPartOfDeviationMessageId" type="xs:decimal" />
              <xs:element minOccurs="0" name="Content" type="xs:string" />
              <xs:element minOccurs="0" name="ContentTypeLongCode" type="xs:string" />
              <xs:element minOccurs="0" name="UsageTypeLongCode" type="xs:string" />
              <xs:element minOccurs="0" name="LanguageCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ServiceJourneyDeviation">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Id" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsOnDatedVehicleJourneyId" type="xs:decimal" />
              <xs:element minOccurs="0" name="HasDeviationMessageVersionId" type="xs:decimal" />
              <xs:element minOccurs="0" name="ConsequenceLongCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DepartureDeviation">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Id" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsOnDepartureId" type="xs:decimal" />
              <xs:element minOccurs="0" name="AffectsLaterArrivalsYesNo" type="xs:boolean" />
              <xs:element minOccurs="0" name="HasDeviationMessageVersionId" type="xs:decimal" />
              <xs:element minOccurs="0" name="ConsequenceLongCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ArrivalDeviation">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Id" type="xs:decimal" />
              <xs:element minOccurs="0" name="IsOnArrivalId" type="xs:decimal" />
              <xs:element minOccurs="0" name="AffectsPreviousDeparturesYesNo" type="xs:boolean" />
              <xs:element minOccurs="0" name="HasDeviationMessageVersionId" type="xs:decimal" />
              <xs:element minOccurs="0" name="ConsequenceLongCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TargetAudience">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="IsForDeviationMessageVersionId" type="xs:decimal" />
              <xs:element minOccurs="0" name="TypeCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>