DK/Development/Mitt Konto 1.1/BizTalk/INTSTDK001.PubTransRealTime/INTSTDK001.PubTrans.Schemas/External/GetCallsforServiceJourneyResponse_app1.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema targetNamespace="urn:schemas-microsoft-com:xml-diffgram-v1" xmlns:mstns="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/VehicleMonitoringService" xmlns="urn:schemas-microsoft-com:xml-diffgram-v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" attributeFormDefault="qualified" elementFormDefault="qualified" xmlns:app1="urn:schemas-microsoft-com:xml-diffgram-v1" xmlns:app2="urn:schemas-microsoft-com:xml-msdata">
  <xs:import namespace="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/VehicleMonitoringService" schemaLocation="GetCallsforServiceJourneyResponse.xsd" />
  <xs:import namespace="urn:schemas-microsoft-com:xml-msdata" schemaLocation="GetCallsforServiceJourneyResponse_app2.xsd" />
  <xs:attribute name="id" app2:Prefix="diffgr" type="xs:string" />
  <xs:element name="diffgram" app2:Prefix="diffgr">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GetCallsforServiceJourneyMethod" form="unqualified">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DatedServiceJourney" form="unqualified" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Id" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="0" />
                    <xs:element name="DatedVehicleJourneyId" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="1" />
                    <xs:element name="IsDatedVehicleJourneyId" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="2" />
                    <xs:element name="OperatingDayDate" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="3" />
                    <xs:element name="Gid" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="4" />
                    <xs:element name="IsWorkedOnDirectionOfLineGid" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="5" />
                    <xs:element name="TransportModeCode" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="6" />
                    <xs:element name="LineDesignation" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="7" />
                    <xs:element name="TransportAuthorityCode" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="8" />
                    <xs:element name="TransportAuthorityName" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="9" />
                    <xs:element name="ContractorCode" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="10" />
                    <xs:element name="ContractorName" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="11" />
                    <xs:element name="ExpectedToBeMonitored" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="12" />
                    <xs:element name="State" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="13" />
                    <xs:element name="OriginName" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="14" />
                    <xs:element name="OriginShortName" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="15" />
                    <xs:element name="ProductCode" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="16" />
                  </xs:sequence>
                  <xs:attribute ref="app1:id" />
                  <xs:attribute ref="app2:rowOrder" />
                </xs:complexType>
              </xs:element>
              <xs:element name="DatedArrival" form="unqualified" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Id" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="0" />
                    <xs:element name="IsOnDatedServiceJourneyId" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="1" />
                    <xs:element name="IsOnServiceJourneyId" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="2" />
                    <xs:element name="JourneyPatternSequenceNumber" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="3" />
                    <xs:element name="IsTimetabledAtJourneyPatternPointGid" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="4" />
                    <xs:element name="IsTargetedAtJourneyPatternPointGid" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="5" />
                    <xs:element name="TimetabledLatestDateTime" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="6" />
                    <xs:element name="TargetDateTime" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="7" />
                    <xs:element name="State" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="8" />
                    <xs:element name="Type" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="9" />
                    <xs:element name="PresentationType" form="unqualified" type="xs:string" minOccurs="0" app2:Ordinal="10" />
                  </xs:sequence>
                  <xs:attribute ref="app1:id" />
                  <xs:attribute ref="app2:rowOrder" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>