DK/Development/Release 1.2.0/BizTalk/INTSTDK001.PubTransRealTime/Files/StopMonitoringService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/Imports">
      <xsd:import schemaLocation="StopMonitoringService.xsd" namespace="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService"/>
      <xsd:import schemaLocation="StopMonitoringService_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
      <xsd:import schemaLocation="StopMonitoringService_1_2_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="StopMonitoringService_1_2_3_4.xsd"/>
      <xsd:import schemaLocation="StopMonitoringService_1_2.xsd" namespace="http://schemas.pubtrans.hogia.se/webservices/2008/11"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStopMonitoringService_GetDeparturesAtStop_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeparturesAtStop"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDeparturesAtStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeparturesAtStopResponse"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDeparturesAtStop_ImplementationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q1:ImplementationFaultDetail" xmlns:q1="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDeparturesAtStop_ConfigurationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q2:ConfigurationFaultDetail" xmlns:q2="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDeparturesAtStop_ClientFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q3:ClientFaultDetail" xmlns:q3="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDeparturesAtStop_RuntimeFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q4:RuntimeFaultDetail" xmlns:q4="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDeparturesAtStop_LicenseFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q5:LicenseFaultDetail" xmlns:q5="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDeparturesAtStop_NotSupportedFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q6:NotSupportedFaultDetail" xmlns:q6="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDirectJourneysBetweenStops_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectJourneysBetweenStops"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDirectJourneysBetweenStops_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectJourneysBetweenStopsResponse"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDirectJourneysBetweenStops_ConfigurationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q7:ConfigurationFaultDetail" xmlns:q7="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDirectJourneysBetweenStops_ImplementationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q8:ImplementationFaultDetail" xmlns:q8="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDirectJourneysBetweenStops_NotSupportedFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q9:NotSupportedFaultDetail" xmlns:q9="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDirectJourneysBetweenStops_ClientFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q10:ClientFaultDetail" xmlns:q10="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDirectJourneysBetweenStops_LicenseFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q11:LicenseFaultDetail" xmlns:q11="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetDirectJourneysBetweenStops_RuntimeFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q12:RuntimeFaultDetail" xmlns:q12="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetCallsAtStop_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsAtStop"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetCallsAtStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsAtStopResponse"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetCallsAtStop_LicenseFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q13:LicenseFaultDetail" xmlns:q13="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetCallsAtStop_ImplementationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q14:ImplementationFaultDetail" xmlns:q14="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetCallsAtStop_ConfigurationFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q15:ConfigurationFaultDetail" xmlns:q15="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetCallsAtStop_ClientFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q16:ClientFaultDetail" xmlns:q16="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetCallsAtStop_NotSupportedFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q17:NotSupportedFaultDetail" xmlns:q17="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:message name="IStopMonitoringService_GetCallsAtStop_RuntimeFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="q18:RuntimeFaultDetail" xmlns:q18="http://schemas.datacontract.org/2004/07/Hogia.PubTrans.WebServices"/>
  </wsdl:message>
  <wsdl:portType name="IStopMonitoringService">
    <wsdl:operation name="GetDeparturesAtStop">
      <wsdl:input wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDeparturesAtStop" message="tns:IStopMonitoringService_GetDeparturesAtStop_InputMessage"/>
      <wsdl:output wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDeparturesAtStopResponse" message="tns:IStopMonitoringService_GetDeparturesAtStop_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDeparturesAtStopImplementationFaultDetailFault" name="ImplementationFaultDetailFault" message="tns:IStopMonitoringService_GetDeparturesAtStop_ImplementationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDeparturesAtStopConfigurationFaultDetailFault" name="ConfigurationFaultDetailFault" message="tns:IStopMonitoringService_GetDeparturesAtStop_ConfigurationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDeparturesAtStopClientFaultDetailFault" name="ClientFaultDetailFault" message="tns:IStopMonitoringService_GetDeparturesAtStop_ClientFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDeparturesAtStopRuntimeFaultDetailFault" name="RuntimeFaultDetailFault" message="tns:IStopMonitoringService_GetDeparturesAtStop_RuntimeFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDeparturesAtStopLicenseFaultDetailFault" name="LicenseFaultDetailFault" message="tns:IStopMonitoringService_GetDeparturesAtStop_LicenseFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDeparturesAtStopNotSupportedFaultDetailFault" name="NotSupportedFaultDetailFault" message="tns:IStopMonitoringService_GetDeparturesAtStop_NotSupportedFaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetDirectJourneysBetweenStops">
      <wsdl:input wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDirectJourneysBetweenStops" message="tns:IStopMonitoringService_GetDirectJourneysBetweenStops_InputMessage"/>
      <wsdl:output wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDirectJourneysBetweenStopsResponse" message="tns:IStopMonitoringService_GetDirectJourneysBetweenStops_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDirectJourneysBetweenStopsConfigurationFaultDetailFault" name="ConfigurationFaultDetailFault" message="tns:IStopMonitoringService_GetDirectJourneysBetweenStops_ConfigurationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDirectJourneysBetweenStopsImplementationFaultDetailFault" name="ImplementationFaultDetailFault" message="tns:IStopMonitoringService_GetDirectJourneysBetweenStops_ImplementationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDirectJourneysBetweenStopsNotSupportedFaultDetailFault" name="NotSupportedFaultDetailFault" message="tns:IStopMonitoringService_GetDirectJourneysBetweenStops_NotSupportedFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDirectJourneysBetweenStopsClientFaultDetailFault" name="ClientFaultDetailFault" message="tns:IStopMonitoringService_GetDirectJourneysBetweenStops_ClientFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDirectJourneysBetweenStopsLicenseFaultDetailFault" name="LicenseFaultDetailFault" message="tns:IStopMonitoringService_GetDirectJourneysBetweenStops_LicenseFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetDirectJourneysBetweenStopsRuntimeFaultDetailFault" name="RuntimeFaultDetailFault" message="tns:IStopMonitoringService_GetDirectJourneysBetweenStops_RuntimeFaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetCallsAtStop">
      <wsdl:input wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetCallsAtStop" message="tns:IStopMonitoringService_GetCallsAtStop_InputMessage"/>
      <wsdl:output wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetCallsAtStopResponse" message="tns:IStopMonitoringService_GetCallsAtStop_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetCallsAtStopLicenseFaultDetailFault" name="LicenseFaultDetailFault" message="tns:IStopMonitoringService_GetCallsAtStop_LicenseFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetCallsAtStopImplementationFaultDetailFault" name="ImplementationFaultDetailFault" message="tns:IStopMonitoringService_GetCallsAtStop_ImplementationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetCallsAtStopConfigurationFaultDetailFault" name="ConfigurationFaultDetailFault" message="tns:IStopMonitoringService_GetCallsAtStop_ConfigurationFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetCallsAtStopClientFaultDetailFault" name="ClientFaultDetailFault" message="tns:IStopMonitoringService_GetCallsAtStop_ClientFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetCallsAtStopNotSupportedFaultDetailFault" name="NotSupportedFaultDetailFault" message="tns:IStopMonitoringService_GetCallsAtStop_NotSupportedFaultDetailFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://schemas.pubtrans.hogia.se/webservices/dataset/2008/11/StopMonitoringService/IStopMonitoringService/GetCallsAtStopRuntimeFaultDetailFault" name="RuntimeFaultDetailFault" message="tns:IStopMonitoringService_GetCallsAtStop_RuntimeFaultDetailFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>