DK/Development/Release 1.4.0/Plugins/SkanetrafikenPlugins/SkanetrafikenPlugins/Service References/SyncCustomerCards/SyncCustomerCards.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:b="http://schemas.microsoft.com/BizTalk/2003" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.skanetrafiken.com/DK/INTSTDK008/SyncCustomerCardsResponse/20150701" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SyncFromCrmtoEPiResponseParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Message" type="xs:string" />
        <xs:element minOccurs="0" name="Success" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMessage" type="xs:string" />
        <xs:element minOccurs="0" name="StatusCode" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>