DK/Development/Release 1.10.0/Plugins/KBArticlePlugin/KBArticlePlugin/Service References/WCFService_Internal/Kunskapsartiklar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://wwww.skanetrafiken.se/DK/INTSTDK013/KBArtiklarRequest/20161114" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://wwww.skanetrafiken.se/DK/INTSTDK013/KBArtiklarRequest/20161114" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="KBArtiklarRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number" type="xs:string" />
        <xs:element minOccurs="0" name="Title" type="xs:string" />
        <xs:element minOccurs="0" name="content" type="xs:string" />
        <xs:element minOccurs="0" name="modifiedon" type="xs:string" />
        <xs:element minOccurs="0" name="subject" type="xs:string" />
        <xs:element minOccurs="0" name="Keywords" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedByUser" type="xs:string" />
        <xs:element minOccurs="0" name="Action" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>