DK/Development/Release/CRM2016 Upgrade 1.0_2019.02.01.1/BizTalk/INTSTDK003.Case/Files/CreateCase/CreateCase_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CGIXrmCreateCaseService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/CGIXrmCreateCaseService" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
  <xs:import schemaLocation="CreateCase_1_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:complexType name="CreateCaseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ContactCustomer" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ControlFeeNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="ser:guid"/>
      <xs:element minOccurs="0" name="CustomerType" type="tns:CustomerType"/>
      <xs:element minOccurs="0" name="CustomersCategory" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CustomersSubcategory" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DocumentList" nillable="true" type="tns:ArrayOfdocument"/>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Line" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MobilePhoneNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Train" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="WayOfTravel" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateCaseRequest" nillable="true" type="tns:CreateCaseRequest"/>
  <xs:simpleType name="CustomerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Private"/>
      <xs:enumeration value="Organisation"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CustomerType" nillable="true" type="tns:CustomerType"/>
  <xs:complexType name="ArrayOfdocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="document" nillable="true" type="tns:document"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdocument" nillable="true" type="tns:ArrayOfdocument"/>
  <xs:complexType name="document">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentBody" nillable="true" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="NoteText" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="document" nillable="true" type="tns:document"/>
  <xs:complexType name="CreateAutoRGCaseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CustomerType" type="xs:int"/>
      <xs:element minOccurs="0" name="CustomersCategory" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CustomersSubcategory" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DepartureDateTime" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Line" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="RGOLIssueID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TravelInformationArrivalActual" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TravelInformationArrivalPlanned" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="TravelInformationCity" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TravelInformationCompany" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TravelInformationDeviationMessage" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TravelInformationDirectionText" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TravelInformationDisplayText" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TravelInformationLine" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TravelInformationStart" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TravelInformationStartActual" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TravelInformationStartPlanned" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="TravelInformationStop" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TravelInformationTitle" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TravelInformationTour" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TravelInformationTransport" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="WayOfTravel" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateAutoRGCaseRequest" nillable="true" type="tns:CreateAutoRGCaseRequest"/>
  <xs:complexType name="CreateAutoRGCaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateAutoRGCaseResponse" nillable="true" type="tns:CreateAutoRGCaseResponse"/>
  <xs:complexType name="UpdateAutoRGCaseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Approved" type="xs:boolean"/>
      <xs:element minOccurs="0" name="CaseID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CustomerMessage" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="InternalMessage" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="RefundType" type="xs:int"/>
      <xs:element minOccurs="0" name="Value" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateAutoRGCaseRequest" nillable="true" type="tns:UpdateAutoRGCaseRequest"/>
  <xs:complexType name="UpdateAutoRGCaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="RefundID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateAutoRGCaseResponse" nillable="true" type="tns:UpdateAutoRGCaseResponse"/>
</xs:schema>