DK/Development/Release 1.0.0/Plugins/SkanetrafikenPlugins/SkanetrafikenPlugins/Web References/CubicService/INTSTDK004_13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://INTSTDK004.EHandel.Schemas.requestPurseDirectedAutolaod" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" elementFormDefault="qualified" targetNamespace="http://INTSTDK004.EHandel.Schemas.requestPurseDirectedAutolaod" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RequestPurseDirectedAutoload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CardSerialNumber" type="xs:unsignedLong" />
        <xs:element minOccurs="0" maxOccurs="1" name="Currency" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="AmountToAdd" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPurseDirectedAutoloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RequestPurseDirectedAutoloadResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>